{
  "openapi": "3.0.3",
  "info": {
    "title": "Simple Host API",
    "description": "Static website hosting with a light per-site backend. Deploy a site with one API call \u2014 inline JSON files (LLM-friendly) or a tar.gz/zip archive \u2014 and each site gets shared JSON state (with atomic ops) and saved data of four kinds (Page info, Submissions, Personal, Shared board) on top of per-site lists. Sign-in is a 6-digit email code or Google that returns an API key, sent as the `X-API-Key` header. Hosted-page sign-in uses the same account but a site-scoped session cookie on the site's own address \u2014 never an API key. Every site lives at its own address, `https://<site>.<handle>.simple-host.site/` (its own browser origin); `https://<handle>.simple-host.site/` lists the person's public sites. For a brand-new account a site may briefly live at `https://<handle>.simple-host.site/<site>/` until its certificate is issued: use the `site_url` the API returns, never a composed one. Old `<handle>.simple-host.app/<site>/` links redirect to the site's address, as do old `sites.simple-host.app/<handle>/<site>/` ones. Visitors sign in with Google or an emailed code on the site's own address (a sign-in covers that site only); every save from a page needs a signed-in visitor. Agents save with the API key (or the connector) through `https://simple-host.app/v1/...`.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://simple-host.app",
      "description": "Production API (agents, with an API key). Pages call the same /v1 routes same-origin on their own address."
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Email-code sign-in and dashboard OAuth handoff (`/?token=`)"
    },
    {
      "name": "Visitor",
      "description": "Site-scoped browser session for hosted-page Google or email-code sign-in, on the site's own address (its address `https://<site>.<handle>.simple-host.site/`, or its domain if it has one). Same `users` row as email-code / dashboard OAuth; the cookie is not an API key and does not satisfy owner routes."
    },
    {
      "name": "Deploy",
      "description": "Create/update a site (JSON files or archive)"
    },
    {
      "name": "Sites",
      "description": "List, versions, rollback, delete"
    },
    {
      "name": "State",
      "description": "Per-site shared JSON store (reads public \u2014 a request from a page is Origin-checked, one with no Origin/Referer is served; writes from a page need a signed-in visitor on the site's own address, agents write with the site owner's key; another account's key gets 404). A site with a connected domain lives there \u2014 its `https://<site>.<handle>.simple-host.site/...` address answers 302 to `https://<domain>/...` (same path and query) and writes through that address answer 401 use_custom_domain; agents write through the apex."
    },
    {
      "name": "Collections",
      "description": "Per-site lists (POST is a write; declared kinds under /data)"
    },
    {
      "name": "Custom domains",
      "description": "Give a site a nicer address \u2014 a free <name>.simple-host.site or one custom domain (CNAME or A record plus a TXT ownership record; its certificate is issued automatically once both are seen). Optional."
    },
    {
      "name": "Analytics",
      "description": "Per-site visitor analytics (server-side, owner-scoped)"
    },
    {
      "name": "AI",
      "description": "Generate a site from a prompt; answer questions about the public pages"
    },
    {
      "name": "Health"
    }
  ],
  "paths": {
    "/v1/skills": {
      "get": {
        "operationId": "listSkills",
        "summary": "Skills hub catalog \u2014 discover the bundled agent skills",
        "description": "Public catalog of the skills this server bundles (name + description + fetch URL), so any agent can search them over HTTP. No auth.",
        "responses": {
          "200": {
            "description": "Skill catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plugin": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "skills": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/skills/{name}": {
      "get": {
        "operationId": "getSkill",
        "summary": "Fetch one skill's SKILL.md (markdown)",
        "description": "Returns the raw SKILL.md for the named skill. Public, no auth.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The skill's SKILL.md",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "No such skill"
          }
        }
      }
    },
    "/v1/skills/{name}/SKILL.md": {
      "get": {
        "operationId": "getSkillMarkdown",
        "summary": "Fetch one skill's SKILL.md (markdown), same as /v1/skills/{name}",
        "description": "Same response as /v1/skills/{name}. Public, no auth.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The skill's SKILL.md",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "No such skill"
          }
        }
      }
    },
    "/v1/skills/{name}/references/{file}": {
      "get": {
        "operationId": "getSkillReference",
        "summary": "Fetch one of a skill's reference documents (markdown)",
        "description": "A skill's SKILL.md routes to reference documents under its references/ directory. A folder install has them on disk; install methods that fetch only SKILL.md by URL do not, so SKILL.md cites each reference by absolute URL as well and this endpoint serves it. Public, no auth.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file",
            "in": "path",
            "required": true,
            "description": "The reference filename, e.g. backend.md",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The reference document",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid skill or reference name"
          },
          "404": {
            "description": "No such reference"
          }
        }
      }
    },
    "/v1/auth": {
      "post": {
        "operationId": "postAuth",
        "summary": "Request a sign-in code",
        "description": "Emails a 6-digit code (and a magic link) to the address. No user row is created here \u2014 the account is created lazily on the first successful verify, so this can't be used to enumerate users.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "you@example.com"
                  },
                  "nonce_hash": {
                    "type": "string",
                    "description": "Browser pages only. base64url SHA-256 of a random nonce the page keeps. With it the email also carries a sign-in link, redeemable only together with that nonce (so only in that browser). Without it the email carries the code alone."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Code sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "expires_in_seconds": {
                      "type": "integer",
                      "example": 900
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/auth/verify": {
      "post": {
        "operationId": "postAuthVerify",
        "summary": "Verify the code and get an API key",
        "description": "Exchange `{email, code}` (CLI/agent) or a magic-link `{token}` (browser) for an API key. The first successful email-code verify creates the account. Dashboard Google also redeems through this endpoint (`/?token=&cn=`). A link token is redeemed only with the `nonce` whose hash it was issued with, so a sign-in link works only in the browser that asked for it. Visitor-issued codes are not accepted here. The code expires in 15 minutes and allows 3 attempts.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "code": {
                    "type": "string",
                    "example": "123456"
                  },
                  "token": {
                    "type": "string",
                    "description": "magic-link token (alternative to email+code)"
                  },
                  "nonce": {
                    "type": "string",
                    "description": "required with token \u2014 the nonce whose hash was sent when the link was requested"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 60,
                    "description": "Optional label for the key this sign-in issues, shown in the Keys list (GET /v1/me/keys). Defaults to \"dashboard sign-in\" for a link or Google, \"agent sign-in\" for a typed code."
                  },
                  "choose_handle": {
                    "type": "boolean",
                    "description": "When this sign-in would create a new account: create nothing yet and answer 409 with code choose_handle and a suggested_handle, without using up the code. Ask the person which address they want, then verify again with the same code and handle. Ignored for an existing account."
                  },
                  "handle": {
                    "type": "string",
                    "pattern": "^[a-z0-9-]{1,39}$",
                    "description": "The address (<handle>.simple-host.site) a NEW account takes; ignored for an existing account. Refused as 400 invalid_handle, 409 handle_reserved or 409 handle_taken without using up the code, so another can be tried. It can be changed later (PATCH /v1/me), not more than once in 30 days after publishing. Without handle or choose_handle a new account is given one."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "description": "code choose_handle (a new account: choose its address first; carries suggested_handle and address), or handle_taken / handle_reserved (the handle sent cannot be had; error names the address). The code is not used up.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "choose_handle",
                        "handle_taken",
                        "handle_reserved"
                      ]
                    },
                    "suggested_handle": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string",
                      "example": "rose.simple-host.site"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/handles/check": {
      "get": {
        "operationId": "getHandleCheck",
        "summary": "Is this address (handle) free?",
        "description": "Whether <handle>.simple-host.site can be taken as an account's address: at sign-up (POST /v1/auth/verify with handle) or as a change (PATCH /v1/me). Handles, old handles that still redirect, free <name>.simple-host.site addresses claimed by sites, other accounts' live site names (an unclaimed <name>.simple-host.site still redirects to that site) and reserved names share one namespace. With X-API-Key the account's own handle counts as available. Rate limited per address (RATE_LIMIT_HANDLE_CHECK); no CORS, and a cross-site browser request gets 403. A claim still decides.",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The verdict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "handle",
                    "available",
                    "address"
                  ],
                  "properties": {
                    "handle": {
                      "type": "string"
                    },
                    "available": {
                      "type": "boolean"
                    },
                    "address": {
                      "type": "string",
                      "example": "rose.simple-host.site"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "invalid_handle",
                        "handle_reserved",
                        "handle_taken"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "example": "That address is taken: rose.simple-host.site is already in use. Try another."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Cross-site browser request"
          },
          "429": {
            "description": "Too many checks from this address"
          }
        }
      }
    },
    "/v1/auth/oauth/providers": {
      "get": {
        "operationId": "getOAuthProviders",
        "summary": "List enabled OAuth providers",
        "description": "Google (more providers later). Public discovery for pages and the dashboard. Returns the enabled provider names (`google`) so pages never hardcode a provider. Empty when sign-in is not configured. Sign-in creates or links a `users` row; a hosted-page session still does not disclose an API key.",
        "tags": [
          "Visitor"
        ],
        "responses": {
          "200": {
            "description": "Enabled providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "providers",
                    "email_enabled"
                  ],
                  "properties": {
                    "email_enabled": {
                      "type": "boolean",
                      "description": "Whether email sign-in codes are configured"
                    },
                    "providers": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "google"
                        ]
                      },
                      "example": [
                        "google"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/oauth/{provider}": {
      "get": {
        "operationId": "startOAuth",
        "summary": "Start OAuth",
        "description": "Apex start. Query `return_to` is required and must be an absolute URL. Two shapes: the dashboard origin `/` (owner purpose \u2014 callback hands off via `/?token=`; success 302s to the provider with PKCE S256) or a site's own address \u2014 a site host `https://<site>.<handle>.simple-host.site/...` (or, while that person's certificate is pending, the person address `https://<handle>.simple-host.site/<site>/...`), a claimed name or a DNS-proven bound domain (site purpose). A site-purpose start is not begun here: it 302s to `GET /v1/visitor/oauth/{provider}` on that site's own host, which binds the sign-in to the browser. Unknown or disabled provider is 404. No cookie is set here. The Legacy path-address (`sites.<domain>/<handle>/<site>/`) return_to URLs are rejected with 400 invalid return_to, as are apex URLs outside the dashboard. The caller cannot set `purpose`; it is derived from `return_to`.",
        "tags": [
          "Visitor"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "google"
              ]
            }
          },
          {
            "name": "return_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Absolute URL of the page to return to after sign-in"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the identity provider",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing return_to",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid return_to"
                }
              }
            }
          },
          "404": {
            "description": "Unknown or disabled provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "not found"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/auth/oauth/{provider}/callback": {
      "get": {
        "operationId": "oauthCallback",
        "summary": "OAuth callback",
        "description": "Provider redirect URI on the apex. Consumes the one-time `state`. Identifies via userinfo, then `resolveUser` (link or create a `users` row on a verified email; refuse missing/unverified email). Site purpose 302s to `https://<return-host>/v1/visitor/establish?once=\u2026`. Owner purpose 302s to `{PUBLIC_BASE_URL}/?token=\u2026` for the dashboard to redeem via `POST /v1/auth/verify`. Neither redirect contains an API key. Failures are a short no-store HTML page on the apex with no Location and no cookie.",
        "tags": [
          "Visitor"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "google"
              ]
            }
          },
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Site purpose: redirect to /v1/visitor/establish on the stored host. Owner purpose: redirect to /?token= on PUBLIC_BASE_URL.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Bad, replayed, or expired state, or provider error",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Unknown or disabled provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Token or userinfo failure",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/visitor/oauth/{provider}": {
      "get": {
        "operationId": "startVisitorOAuth",
        "summary": "Start visitor sign-in on the site's own host",
        "description": "Visitor sign-in start, served on the site's own address (its `<site>.<handle>` host, person address, claimed name or bound domain). `return_to` must be a page on this same host that belongs to the site served here. Sets a short-lived host-only nonce cookie (`__Host-sh_vnonce`, HttpOnly, Secure, SameSite=Lax, 10 minutes; `sh_vnonce` on local HTTP), stores only its SHA-256 with the OAuth state, and 302s to the provider with PKCE S256. `GET /v1/visitor/establish` later sets the session only in the browser holding that nonce, so a sign-in finished elsewhere cannot be completed in another browser (login CSRF). auth.js `SH.signIn()` navigates here.",
        "tags": [
          "Visitor"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "google"
              ]
            }
          },
          {
            "name": "return_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Absolute URL of a page on this host to return to after sign-in"
          }
        ],
        "responses": {
          "302": {
            "description": "Nonce cookie set; redirect to the identity provider",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Missing return_to, or one that is not a page of the site on this host",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid return_to"
                }
              }
            }
          },
          "404": {
            "description": "Unknown or disabled provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "not found"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/visitor/establish": {
      "get": {
        "operationId": "establishVisitor",
        "summary": "Establish the visitor session cookie",
        "description": "One-time hop on the site's own address (its `<site>.<handle>` host or domain). Consumes `once`, host-matches, requires the `__Host-sh_vnonce` cookie set by `GET /v1/visitor/oauth/{provider}` in this browser (its hash must match the one bound to the code; the code is burned on any failure), sets `__Host-sh_vsess` (or `sh_vsess` on local HTTP), clears the nonce cookie, then 302s to the stored `return_to` with no query mutation. Never sets a cookie on the apex or the legacy path address. Failures are HTML, no cookie, no redirect.",
        "tags": [
          "Visitor"
        ],
        "parameters": [
          {
            "name": "once",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Cookie set; redirect to the stored return_to",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad, replayed, expired, host-mismatch, missing or wrong nonce cookie, or apex Host",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/visitor/logout": {
      "post": {
        "operationId": "logoutVisitor",
        "summary": "Log out this visitor session",
        "description": "Deletes the session named by the visitor cookie and clears the cookie. Requires `X-SH-CSRF: 1` or `Content-Type: application/json` (not a simple form post).",
        "tags": [
          "Visitor"
        ],
        "parameters": [
          {
            "name": "X-SH-CSRF",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Session deleted and cookie cleared"
          },
          "403": {
            "description": "Missing CSRF header (and not a JSON request)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "csrf_required"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/me": {
      "patch": {
        "operationId": "patchMe",
        "summary": "Edit display name or change your handle",
        "description": "Changing the handle changes every address (https://<handle>.simple-host.site/ and https://<site>.<handle>.simple-host.site/). Before anything is published it changes freely. After that (even once every site is gone) it can change once every 30 days: the old handle stays reserved for this account and every old address redirects to the new one. A new handle gets its own certificate; until it is issued, sites briefly use the fallback https://<handle>.simple-host.site/<site>/. What pages kept in visitors' browsers starts empty at the new address, and visitors sign in again.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "properties": {
                  "display_name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Trimmed; empty clears the name. Never used in URLs."
                  },
                  "handle": {
                    "type": "string",
                    "pattern": "^[a-z0-9-]{1,39}$",
                    "description": "The <handle> in your address https://<handle>.simple-host.site/. Must not be reserved or already taken (handles and free <name>.simple-host.site addresses share one namespace)."
                  },
                  "signin_alerts": {
                    "type": "boolean",
                    "description": "Sign-in alert emails (default true): one email after each sign-in or app connection, at most one per browser or app a day. Needs one of the account's own API keys (a connected app or the admin key gets 400 not_an_account_key)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated account profile"
          },
          "400": {
            "description": "Invalid profile, or signin_alerts sent without an account key (code not_an_account_key)"
          },
          "401": {
            "description": "API key required"
          },
          "409": {
            "description": "The handle cannot be had: code handle_taken (another account's handle or old handle, or a site's claimed free name; error says \"That address is taken: <handle>.simple-host.site is already in use. Try another.\") or handle_reserved. A malformed handle is 400 invalid_handle."
          },
          "429": {
            "description": "The handle already changed within the last 30 days after publishing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "next_change_after": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getMe",
        "summary": "Current user",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "username": {
                      "type": "string"
                    },
                    "handle": {
                      "type": "string",
                      "description": "The <handle> in your addresses: sites at https://<site>.<handle>.simple-host.site/, your page at https://<handle>.simple-host.site/"
                    },
                    "public_page": {
                      "type": "string",
                      "format": "uri",
                      "description": "The account's public page listing its public sites, e.g. https://<handle>.simple-host.site/. Present with handle."
                    },
                    "display_name": {
                      "type": "string"
                    },
                    "is_admin": {
                      "type": "boolean"
                    },
                    "signin_alerts": {
                      "type": "boolean",
                      "description": "Whether an email follows each sign-in or app connection (PATCH /v1/me to change)."
                    },
                    "address": {
                      "$ref": "#/components/schemas/AddressState"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteMe",
        "summary": "Delete your account and all its data",
        "description": "Deletes the account at once and for good; nothing goes to Recently deleted and nothing can be restored. Removed: every site (including ones in Recently deleted) with its files, versions, saved data, lists and analytics; keys; connected apps; visitor sign-ins; and every entry this person sent to other people's lists while signed in; their address is taken off the changes they made to other people's page data (writes made without signing in and older public-list entries are not linked to anyone and stay; support@simple-host.app helps with those). The handle, old handles and claimed <name>.simple-host.site addresses are retired, never given to anyone else; custom domains are released. A confirmation email goes to the account's address. Offer GET /v1/me/export.zip first. Refused for a suspended account or one holding a site the operator took down (the operator handles those), an admin account, or one still holding event hostnames.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "confirm"
                ],
                "properties": {
                  "confirm": {
                    "type": "string",
                    "description": "The account's handle, or its email when it has no handle. Case-insensitive."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "confirm missing (code confirm_required) or does not match (code confirm_mismatch)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Suspended account (code account_suspended), a site of the account taken down (code site_suspended) or admin account (code admin_account)"
          },
          "409": {
            "description": "The account still holds event hostnames (code event_hostnames)"
          },
          "429": {
            "description": "Too many requests from this address"
          }
        }
      }
    },
    "/v1/me/email": {
      "post": {
        "operationId": "requestEmailChange",
        "summary": "Change your sign-in email, step 1: send codes to the new and the current address",
        "description": "Emails a 6-digit code to the new address and another to the current one (15 minutes, 3 tries). Send both to POST /v1/me/email/verify to finish. Asking looks the same for every address. Needs one of the account's own API keys: a connected app or the admin key gets 400 not_an_account_key. Refused for the plugin reviewer account (and for moving any account to its address), admin, event and preview accounts, and accounts whose sign-in name is not an email address. Rate-limited per address and per account, like sign-in.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Codes sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "description": "The new address (code)"
                    },
                    "current_email": {
                      "type": "string",
                      "description": "The current address (current_code)"
                    },
                    "expires_in_seconds": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Not an account key (code not_an_account_key), not an email (code invalid_email), already the sign-in email (code same_email), or the reviewer's address (code reserved_email)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The reviewer, an admin, event or preview account, or one with no email to confirm from (codes reviewer_account, admin_account, event_account, preview_account, no_current_email)"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v1/me/email/verify": {
      "post": {
        "operationId": "verifyEmailChange",
        "summary": "Change your sign-in email, step 2: confirm with both codes",
        "description": "Moves the account to the new address: from now on sign-in codes go there. The handle, sites and connected apps stay; every other API key of the account is signed out (the one making the call stays); linked Google/GitHub sign-ins stay (GET /v1/me/identities lists them). Open sign-in codes for the old address stop working, the account's emailed idle-site links end, and the old address gets a notice naming the new one masked (n***@example.com) with an undo link valid for 7 days. An address another account signs in with is refused here, after the codes are verified (409 email_taken). Needs one of the account's own API keys.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "current_code"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The 6-digit code emailed to the new address"
                  },
                  "current_code": {
                    "type": "string",
                    "description": "The 6-digit code emailed to the current address"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Changed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Not an account key (code not_an_account_key), a code missing (code codes_required), no change waiting (code no_pending_change), or the reviewer's address (code reserved_email)"
          },
          "401": {
            "description": "Wrong or expired code, or too many tries (code invalid_code)"
          },
          "403": {
            "description": "The reviewer, an admin, event or preview account (see step 1)"
          },
          "409": {
            "description": "Another account signs in with that address (code email_taken)"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v1/me/email/undo": {
      "get": {
        "operationId": "getEmailChangeUndo",
        "summary": "\"This wasn't me\" link from the old address's notice (confirmation page)",
        "description": "Shows a page with an Undo button and changes nothing. No sign-in; the token is the authorization. 404 page when the link was used or is older than 7 days. Emailed links carry the token in the fragment (`#t=`), so it never reaches a server log: without `t` the GET returns a small page whose script posts the fragment's token back with `peek=1`, which shows this confirmation. Links sent before v0.7.1 carry `?t=` and keep working until they expire.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "t",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML confirmation page with the button"
          },
          "404": {
            "description": "HTML page; the link was used or has expired"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      },
      "post": {
        "operationId": "postEmailChangeUndo",
        "summary": "Undo a sign-in email change",
        "description": "The confirmation page's button (with `peek=1`, only the confirmation page). Puts the account back on the old address, signs out every API key and every sign-in on sites, removes Google/GitHub sign-ins and connected apps added since the change, and spends every undo link of the account. HTML page.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "t"
                ],
                "properties": {
                  "t": {
                    "type": "string"
                  },
                  "peek": {
                    "type": "string",
                    "enum": [
                      "1"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HTML page; the account signs in with the old address again"
          },
          "404": {
            "description": "HTML page; the link was used or has expired"
          },
          "409": {
            "description": "HTML page; another account signs in with the old address now"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v1/me/identities": {
      "get": {
        "operationId": "listIdentities",
        "summary": "Google and GitHub accounts that sign in to yours",
        "description": "Own API key only (400 not_an_account_key otherwise).",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The linked sign-ins",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "identities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "provider": {
                            "type": "string",
                            "enum": [
                              "google",
                              "github"
                            ]
                          },
                          "email": {
                            "type": "string"
                          },
                          "linked_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Not an account key (code not_an_account_key)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/me/identities/{id}": {
      "delete": {
        "operationId": "unlinkIdentity",
        "summary": "Unlink a Google or GitHub sign-in",
        "description": "That Google or GitHub account no longer signs in to yours. Own API key only.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Unlinked"
          },
          "400": {
            "description": "Not an account key (code not_an_account_key)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No such sign-in on this account"
          }
        }
      }
    },
    "/v1/me/export.zip": {
      "get": {
        "operationId": "exportMe",
        "summary": "Download all your data (one .zip)",
        "description": "Streams one .zip of everything held about the account: README.txt; account.json (email, handle, display name, created, earlier handles, claimed names including retired ones, custom domains, linked Google/GitHub sign-ins); keys.json (name, last 4 characters, created, last used; never keys or hashes); connected_apps.json (name, connected, last used); visitor.json (sites signed in to as a visitor with first sign-in and last seen, every entry sent to other people's lists while signed in, and `changed`: every change made to other people's page data or list entries while signed in, as site, what, change and when); sites/<name>/ for every live site in the same layout as GET /v1/sites/{sitename}/export.tar.gz (files/, state.json, collections.json); and recently-deleted/<name>/ for every site in Recently deleted, in the same layout plus deleted.json (deleted_at, removed_for_good_at). Visitor analytics hold no personal data (salted hashes) and are not included. Needs one of the account's own API keys: a connected app or the admin key gets 400 not_an_account_key. A suspended account gets 403 account_suspended and writes to support@simple-host.app for a copy of its data.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "A .zip file (Content-Disposition names it simple-host-<handle>-<date>.zip)",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Not one of the account's own API keys (code not_an_account_key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "403": {
            "description": "The account is suspended (code account_suspended); write to support@simple-host.app for a copy of the data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/export.tar.gz": {
      "get": {
        "operationId": "exportMeLegacy",
        "deprecated": true,
        "summary": "Download all your data (older address)",
        "description": "The address Download my data had before it became a .zip. Serves exactly what GET /v1/me/export.zip serves: the same .zip, with Content-Type application/zip and a .zip filename, under the same rules. Use /v1/me/export.zip.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The same .zip as GET /v1/me/export.zip",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Not one of the account's own API keys (code not_an_account_key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "403": {
            "description": "The account is suspended (code account_suspended)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/api-key/rotate": {
      "post": {
        "operationId": "postMeApiKeyRotate",
        "summary": "Sign out everywhere (rotate your API key)",
        "description": "The \"Sign out everywhere\" button. Replaces all of the authenticated owner's API keys with one new key and returns it. Every older key stops working immediately, and every connected app (see /v1/me/connections) is disconnected. Keys are stored only as SHA-256 hashes, so this response is the only time the new key is shown.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "API key rotated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "api_key",
                    "message"
                  ],
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/me/connections": {
      "get": {
        "operationId": "getMeConnections",
        "summary": "List connected apps",
        "description": "The AI apps (ChatGPT, Claude, Grok, a GPT Action) this account has connected through the Simple Host connector (OAuth at /oauth/authorize, MCP at /mcp). Each is listed once, however many times it was connected.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Connected apps, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "connections"
                  ],
                  "properties": {
                    "connections": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "client_id",
                          "name",
                          "connected_at",
                          "last_used_at"
                        ],
                        "properties": {
                          "client_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name the app registered with"
                          },
                          "connected_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "last_used_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "device": {
                            "type": "string",
                            "example": "Chrome on macOS",
                            "description": "The browser the connection was approved on, summarised, to tell two connections of the same app apart. Never the user agent itself or an IP. Empty when unknown (and for connections made before 2026-09-27)."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/me/deleted-sites": {
      "get": {
        "operationId": "getMeDeletedSites",
        "summary": "List recently deleted sites",
        "description": "Sites this account deleted in the last 7 days. Each keeps its files, versions, saved data, collections and addresses, and its name stays taken, until purge_at; POST /v1/sites/{sitename}/restore brings it back until then.",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Recently deleted sites, most recently deleted first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sites",
                    "retention_days"
                  ],
                  "properties": {
                    "retention_days": {
                      "type": "integer",
                      "example": 7
                    },
                    "sites": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "deleted_at",
                          "purge_at"
                        ],
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "purge_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When it is removed for good"
                          },
                          "custom_domain": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/me/connections/{client_id}": {
      "delete": {
        "operationId": "deleteMeConnection",
        "summary": "Disconnect an app",
        "description": "Revokes every token this account granted to the app. It has to be connected again, with a fresh sign-in, to be used.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Disconnected"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No connected app with that id"
          }
        }
      }
    },
    "/v1/me/sign-out": {
      "post": {
        "operationId": "postMeSignOut",
        "summary": "Sign out (end the key this request used)",
        "description": "Deletes the API key sent with this request, so it stops working everywhere; the account's other keys and connected apps are untouched. The dashboard's Sign out calls this before it clears the key from the browser. Needs one of the account's own keys (the admin env key or a connected app gets 400 not_an_account_key).",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "204": {
            "description": "Signed out; the key no longer works"
          },
          "400": {
            "description": "Not one of the account's own keys (code not_an_account_key)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/me/keys": {
      "get": {
        "operationId": "getMeKeys",
        "summary": "List your API keys",
        "description": "Every key on the account, newest first. `current` marks the key this request was made with. Keys issued before names existed have no `name` or `last4` (shown as \"Earlier key\"). `last_used_at` is updated at most every 5 minutes. A key unused for 180 days stops working. `idle_expires_at` says when (KEY_IDLE_EXPIRY_DAYS); one minted with `expires_in_days` stops at `expires_at`. A key that has stopped stays listed with `expired` until revoked.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The account's keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/APIKey"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "postMeKey",
        "summary": "Create a named API key",
        "description": "Mints a new key with the given name (for a CI secret or another machine) and returns it once; it is stored only as a hash. `scope: deploy` makes a deploy-only key: it may create, update, roll back and list sites, read their versions and files, and make preview links; every other route (delete, rename, domains, keys, saved data and lists, analytics, the account, AI create, connecting apps, and the same through /mcp) answers 403 deploy_only_key. Use it for a CI secret. `expires_in_days` (1-3650) gives the key a fixed expiry; without it the key stops only when it goes unused (KEY_IDLE_EXPIRY_DAYS). Needs one of the account's own keys (the admin env key or a connected app gets 400 not_an_account_key). An account holds at most 50 keys (409 key_limit; keys that have stopped working do not count, and are deleted 30 days after they stop). A deploy key never carries admin powers. A deploy key can publish code that runs when you open your own site (signed in there, that code acts with your powers over its saved data); treat it like the site itself; a key revoked or rotated away mid-request gets 401 invalid_api_key.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 60,
                    "example": "GitHub Actions",
                    "description": "Any label except the names Simple Host gives its own keys (dashboard sign-in, agent sign-in, event account, reviewer sign-in, replacement key; 400)"
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "full",
                      "deploy"
                    ],
                    "default": "full",
                    "description": "deploy: create, update, roll back and list sites and make preview links, nothing else"
                  },
                  "expires_in_days": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3650,
                    "description": "Optional fixed expiry, in days from now"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key created. `api_key` is shown only here.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/APIKey"
                    },
                    {
                      "type": "object",
                      "required": [
                        "api_key"
                      ],
                      "properties": {
                        "api_key": {
                          "type": "string",
                          "example": "shk_0123abcd\u2026"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "The account already holds 50 keys (code key_limit); revoke one first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/keys/{id}": {
      "delete": {
        "operationId": "deleteMeKey",
        "summary": "Revoke one API key",
        "description": "The key stops working at once; the account's other keys and connected apps are untouched. Revoking the key this request uses signs this caller out. Needs one of the account's own keys.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked"
          },
          "400": {
            "description": "Not one of the account's own keys (code not_an_account_key)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No key with that id on this account"
          }
        }
      }
    },
    "/v1/sites": {
      "get": {
        "operationId": "getSites",
        "summary": "List your sites",
        "description": "Returns the authenticated user's sites. Admins see all sites.",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of sites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/sites/{sitename}/files": {
      "post": {
        "operationId": "postSitesBySitenameFiles",
        "summary": "Deploy a site from inline JSON files",
        "description": "The LLM-friendly deploy path \u2014 send every file inline in one request, no archiving. Text goes in `files`; base64-encoded binary goes in `files_base64`. `index.html` is required. Relative paths only (`..`/absolute are rejected); secret files (`.env`, `.git/*`, `id_rsa`) are dropped and script extensions (`.sh .py .php \u2026`) are rejected. Use PUT to update an existing site (409 site_exists says so); PUT with ?create=1 creates or updates in one call.",
        "tags": [
          "Deploy"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sitename"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilesBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Site created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteWithNote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      },
      "put": {
        "operationId": "putSitesBySitenameFiles",
        "summary": "Update a site from inline JSON files",
        "description": "Same as POST, but for an existing site you own. Creates a new version and activates it; with ?publish=false the version is only stored (visitors keep seeing the live one) and the answer adds unpublished_version, preview_url and preview_expires_at. With ?create=1 a missing site is created instead (201, with the same checks as POST), so CI deploys in one call; without it a missing site is 404.",
        "tags": [
          "Deploy"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sitename"
          },
          {
            "$ref": "#/components/parameters/publish"
          },
          {
            "$ref": "#/components/parameters/create"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilesBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteWithNote"
                }
              }
            }
          },
          "201": {
            "description": "Site created (?create=1 and no site of that name)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteWithNote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/sites/{sitename}": {
      "patch": {
        "operationId": "patchSitesBySitename",
        "summary": "Rename your site, or take it offline",
        "description": "One change per request. With {\"offline\": true} the site is taken offline: every address answers a plain \"This site is offline\" page (503), and visitor saves (state and collection writes from a page, private lists included), visitors' reads of its state and lists, and visitor sign-in are refused with 403 site_offline; files, versions and saved data are kept, and the owner's key or connector still deploys, reads and writes. {\"offline\": false} puts it back online. An operator take-down wins over it, and a taken-down site cannot be switched (403 site_suspended). The answer is the site object with `offline` and a `note`. With {\"name\": \"new-name\"} it renames the database row and on-disk site directory. The new name uses the same validation and per-owner uniqueness rule as creation. A bound custom domain remains attached. Links to the old name keep working: its site host, person-path and sites.* addresses 302 to the new address (path and query kept), through any chain of renames, until a site with the old name is created again (the new site wins); the response says so with old_url_status \"redirects\". Deleting the site stops the redirects (restoring brings them back); purging it removes them.",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sitename"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Exactly one of name or offline.",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "new-site-name",
                    "description": "The new name (renames the site)."
                  },
                  "offline": {
                    "type": "boolean",
                    "description": "true takes the site offline; false puts it back online."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Renamed (old_name, name, old_url, site_url, old_url_status) or switched (the site object with offline and note)"
          },
          "403": {
            "description": "The operator has taken the site down (code site_suspended)"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      },
      "post": {
        "operationId": "postSitesBySitename",
        "summary": "Create a site from an archive",
        "description": "Upload a `.tar.gz` or `.zip` (for framework builds, binary assets, large sites). Max 100 MB.",
        "tags": [
          "Deploy"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sitename"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/gzip": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/zip": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Site created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteWithNote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          }
        }
      },
      "put": {
        "operationId": "putSitesBySitename",
        "summary": "Update a site from an archive",
        "description": "Upload a new version of an existing site you own. Creates a new version and activates it; with ?publish=false the version is only stored (visitors keep seeing the live one) and the answer adds unpublished_version, preview_url and preview_expires_at. With ?create=1 a missing site is created instead (201, with the same checks as POST): one call from CI, e.g. `curl -X PUT \".../v1/sites/<name>?create=1\" -H \"X-API-Key: $KEY\" --data-binary @site.tar.gz`.",
        "tags": [
          "Deploy"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sitename"
          },
          {
            "$ref": "#/components/parameters/publish"
          },
          {
            "$ref": "#/components/parameters/create"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/gzip": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/zip": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteWithNote"
                }
              }
            }
          },
          "201": {
            "description": "Site created (?create=1 and no site of that name)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteWithNote"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/TooLarge"
          }
        }
      },
      "delete": {
        "operationId": "deleteSitesBySitename",
        "summary": "Delete your site",
        "description": "Takes the site offline at once, with every version, its saved state and collections. It stays in Recently deleted (GET /v1/me/deleted-sites) for 7 days with its name held, and POST /v1/sites/{sitename}/restore brings it back exactly as it was; after that it is removed for good. Creating a site with a held name answers 409 with recently_deleted true.",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sitename"
          }
        ],
        "responses": {
          "204": {
            "description": "Site deleted (restorable for 7 days)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/sites/{sitename}/restore": {
      "post": {
        "operationId": "restoreSite",
        "summary": "Restore a recently deleted site",
        "description": "Brings a site back from Recently deleted under the same name and address, with every version, its saved data, collections and connected address, live at once.",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sitename"
          }
        ],
        "responses": {
          "200": {
            "description": "The restored site",
            "as in GET /v1/sites": null
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Site quota reached"
          },
          "404": {
            "description": "No site with that name in Recently deleted"
          },
          "409": {
            "description": "That site is live",
            "not deleted": null
          }
        }
      }
    },
    "/v1/sites/{sitename}/export.tar.gz": {
      "get": {
        "operationId": "exportSite",
        "summary": "Download a site as a tar.gz",
        "description": "Streams the site's published files (`files/`), its saved JSON state (`state.json`) and its collections (`collections.json`: every list, private ones included, each entry as `{id, created_at, submitted_by, data}`; `submitted_by` only on private lists) as one archive. Exists because an event instance is destroyed when the event ends and nothing is backed up, so the person who built something can take it with them. The saved data comes first: the files usually exist somewhere else, the JSON only lives here.",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "sitename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A gzipped tar archive",
            "content": {
              "application/gzip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "or not yours": null
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/sites/{sitename}/export-link": {
      "post": {
        "operationId": "createExportLink",
        "summary": "Make a 10-minute download link for a site's export",
        "description": "Returns a link that downloads the same archive as `export.tar.gz` without an API key, for people who use Simple Host only through a chat app's connector (the `export_site` tool). The link is signed for this owner and this site, expires after 10 minutes, and stops working if the site is deleted or the server restarts. Anyone holding it can download the copy until then, so hand it to the person only.",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "sitename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "site",
                    "url",
                    "expires_at",
                    "expires_in"
                  ],
                  "properties": {
                    "site": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://simple-host.app/v1/export?token=..."
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Seconds until it expires (600)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/export": {
      "get": {
        "operationId": "downloadExport",
        "summary": "Download a site's export through a link from export-link",
        "description": "No API key: the signed `token` is the whole authorization, for one site, for 10 minutes. Streams the archive described under `export.tar.gz`. An expired, altered or unknown token, or one for a site since deleted or moved to another account, answers 404 with code `export_link_invalid`.",
        "tags": [
          "Sites"
        ],
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A gzipped tar archive",
            "content": {
              "application/gzip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "The link is not valid or has expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "this download link is not valid or has expired",
                  "code": "export_link_invalid"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/sites/{sitename}/versions": {
      "get": {
        "operationId": "getSitesBySitenameVersions",
        "summary": "List a site's versions",
        "description": "The versions this instance still holds, newest first. An instance may be configured to keep only the last few deploys, or only the live one, in which case older versions are absent here and from disk. KEEP_VERSIONS controls it; event boxes are installed with 1.",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sitename"
          }
        ],
        "responses": {
          "200": {
            "description": "Versions (newest first)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "version_number": {
                        "type": "integer"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "is_active": {
                        "type": "boolean"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "active",
                          "ready"
                        ],
                        "description": "active: complete and live now or before; ready: stored with publish=false and never live yet"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/sites/{sitename}/versions/{version}/files": {
      "get": {
        "operationId": "getSitesBySitenameVersionFiles",
        "summary": "List files in a retained version",
        "description": "Owner only. Walks the version directory; paths are relative, use forward slashes, and are sorted. Pruned versions return 404.",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sitename"
          },
          {
            "$ref": "#/components/parameters/version"
          }
        ],
        "responses": {
          "200": {
            "description": "Version metadata and files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "version_number",
                    "is_active",
                    "created_at",
                    "files"
                  ],
                  "properties": {
                    "version_number": {
                      "type": "integer"
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "path",
                          "size"
                        ],
                        "properties": {
                          "path": {
                            "type": "string",
                            "example": "index.html"
                          },
                          "size": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Size in bytes"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid version",
            "empty site name": null,
            "or invalid file path": null
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Site not found or version not found (including pruned versions)"
          }
        }
      }
    },
    "/v1/sites/{sitename}/versions/{version}/files/{path}": {
      "get": {
        "operationId": "getSitesBySitenameVersionFile",
        "summary": "Read a file from a retained version",
        "description": "Owner only. Streams raw bytes with a Content-Type based on the file extension (application/octet-stream fallback; HTML uses UTF-8). Directories return 404. Paths containing '..', leading slashes, backslashes, NUL, or symlinks escaping the version directory are rejected. Pruned versions return 404.",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sitename"
          },
          {
            "$ref": "#/components/parameters/version"
          },
          {
            "$ref": "#/components/parameters/path"
          }
        ],
        "responses": {
          "200": {
            "description": "Raw file bytes",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "private, no-store"
                  ]
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "nosniff"
                  ]
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "sandbox"
                  ]
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid version",
            "empty site name": null,
            "or invalid path": null
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Site not found",
            "version not found": null,
            "or file not found": null
          }
        }
      }
    },
    "/v1/sites/{sitename}/versions/{version}/preview-link": {
      "post": {
        "operationId": "postSitesBySitenameVersionPreviewLink",
        "summary": "Preview a kept version",
        "description": "Owner only. Mints a link, working for anyone who has it for one hour, that shows one kept version (live, earlier, or stored with publish=false) exactly as visitors would see it, on the site's own host: https://<site>.<handle>.simple-host.site/__preview/<n>/<token>/ (or briefly, as a fallback while the person's certificate is not ready, <handle>.simple-host.site/<site>/__preview/...). The token is an HMAC over site, version and expiry; it stops working after an hour or a server restart. Preview pages are noindex and never cached, and saves made from them are refused (403 preview_read_only; told apart by the Referer, so a page that suppresses its Referer is not stopped: this guards against accidents, and the pages are the owner's own). Make the version live with PUT .../active-version.",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sitename"
          },
          {
            "$ref": "#/components/parameters/version"
          }
        ],
        "responses": {
          "200": {
            "description": "The preview link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "site": {
                      "type": "string"
                    },
                    "version": {
                      "type": "integer"
                    },
                    "live": {
                      "type": "boolean",
                      "description": "Whether visitors see this version now"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 3600
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The operator has taken the site down (code site_suspended)"
          },
          "404": {
            "description": "Site or version not found (including pruned versions)"
          },
          "409": {
            "description": "No preview link (code preview_unavailable): the site has no address of its own yet, or the server gives sites none (every site on one shared address, as on a small box), which the message says"
          }
        }
      }
    },
    "/v1/sites/{sitename}/active-version": {
      "put": {
        "operationId": "putSitesBySitenameActiveVersion",
        "summary": "Roll back to a version, or make a stored version live",
        "description": "Re-point the live site at an existing version number: an earlier one, or one stored with publish=false (which then counts as live).",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sitename"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "version_number"
                ],
                "properties": {
                  "version_number": {
                    "type": "integer",
[...]
