openapi: 3.0.3
info:
  title: Simple Host API
  description: >-
    Static website hosting with a light per-site backend. Deploy a site with one
    API call — inline JSON files (LLM-friendly) or a tar.gz/zip archive — and each
    site gets shared JSON state (with atomic ops), append-only collections. Sign-in is a 6-digit email code or Google that
    returns an API key, sent as the
    `X-API-Key` header. Hosted-page sign-in uses the same account but a
    site-scoped session cookie on the site's own address — never an API key.
    Every site lives at its own address, `https://<site>.<handle>.simple-host.app/`
    (its own browser origin); `https://<handle>.simple-host.app/` lists the
    person's public sites. For a brand-new account a site may briefly live at
    `https://<handle>.simple-host.app/<site>/` until its certificate is issued:
    use the `site_url` the API returns, never a composed one.
    Old `<handle>.simple-host.app/<site>/` links redirect to the site's address,
    as do old `sites.simple-host.app/<handle>/<site>/` ones.
    Visitors sign in with Google or an emailed code on the site's own address (a
    sign-in covers that site only); every save from a page needs a signed-in visitor. Agents save with the API key
    (or the connector) through `https://simple-host.app/v1/...`.
  version: 2.0.0

servers:
  - url: https://simple-host.app
    description: Production API (agents, with an API key). Pages call the same /v1 routes same-origin on their own address.

tags:
  - name: Auth
    description: Email-code sign-in and dashboard OAuth handoff (`/?token=`)
  - name: Visitor
    description: >-
      Site-scoped browser session for hosted-page Google or email-code sign-in, on the site's own address (its address `https://<site>.<handle>.simple-host.app/`, or its domain if it has one).
      Same `users` row as email-code / dashboard OAuth; the cookie is not an
      API key and does not satisfy owner routes.
  - name: Deploy
    description: Create/update a site (JSON files or archive)
  - name: Sites
    description: List, versions, rollback, delete
  - name: State
    description: Per-site shared JSON store (reads public — a request from a page is Origin-checked, one with no Origin/Referer is served; writes from a page need a signed-in visitor on the site's own address, agents write with the site owner's key; another account's key gets 404). A site with a connected domain lives there — its `https://<site>.<handle>.simple-host.app/...` address answers 302 to `https://<domain>/...` (same path and query) and writes through that address answer 401 use_custom_domain; agents write through the apex.
  - name: Collections
    description: Append-only per-site lists (POST is a write)
  - name: Custom domains
    description: Give a site a nicer address — a free <name>.simple-host.app or one custom domain (CNAME or A record plus a TXT ownership record; its certificate is issued automatically once both are seen). Optional.
  - name: Analytics
    description: Per-site visitor analytics (server-side, owner-scoped)
  - name: AI
    description: Generate a site from a prompt
  - name: Health

paths:
  /v1/skills:
    get:
      operationId: listSkills
      summary: Skills hub catalog — discover the bundled agent skills
      description: Public catalog of the skills this server bundles (name + description + fetch URL), so any agent can search them over HTTP. No auth.
      responses:
        '200':
          description: Skill catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  plugin: { type: string }
                  version: { type: string }
                  count: { type: integer }
                  skills:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        description: { type: string }
                        url: { type: string }
  /v1/skills/{name}:
    get:
      operationId: getSkill
      summary: Fetch one skill's SKILL.md (markdown)
      description: Returns the raw SKILL.md for the named skill. Public, no auth.
      parameters:
        - name: name
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The skill's SKILL.md
          content:
            text/markdown:
              schema: { type: string }
        '404': { description: No such skill }
  /v1/skills/{name}/references/{file}:
    get:
      operationId: getSkillReference
      summary: Fetch one of a skill's reference documents (markdown)
      description: >-
        A skill's SKILL.md routes to reference documents under its references/
        directory. A folder install has them on disk; install methods that fetch
        only SKILL.md by URL do not, so SKILL.md cites each reference by
        absolute URL as well and this endpoint serves it. Public, no auth.
      parameters:
        - name: name
          in: path
          required: true
          schema: { type: string }
        - name: file
          in: path
          required: true
          description: The reference filename, e.g. backend.md
          schema: { type: string }
      responses:
        '200':
          description: The reference document
          content:
            text/markdown:
              schema: { type: string }
        '400': { description: Invalid skill or reference name }
        '404': { description: No such reference }
  /v1/auth:
    post:
      operationId: postAuth
      summary: Request a sign-in code
      description: >-
        Emails a 6-digit code (and a magic link) to the address. No user row is
        created here — the account is created lazily on the first successful
        verify, so this can't be used to enumerate users.
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email, example: you@example.com }
                nonce_hash:
                  type: string
                  description: >-
                    Browser pages only. base64url SHA-256 of a random nonce the page keeps. With it the
                    email also carries a sign-in link, redeemable only together with that nonce (so only in
                    that browser). Without it the email carries the code alone.
      responses:
        '202':
          description: Code sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  email: { type: string }
                  expires_in_seconds: { type: integer, example: 900 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/auth/verify:
    post:
      operationId: postAuthVerify
      summary: Verify the code and get an API key
      description: >-
        Exchange `{email, code}` (CLI/agent) or a magic-link `{token}` (browser)
        for an API key. The first successful email-code verify creates the
        account. Dashboard Google also redeems through this endpoint
        (`/?token=&cn=`). A link token is redeemed only with the `nonce` whose hash it
        was issued with, so a sign-in link works only in the browser that asked for it.
        Visitor-issued codes are not accepted here. The code expires in 15 minutes and allows 3 attempts.
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                code: { type: string, example: '123456' }
                token: { type: string, description: magic-link token (alternative to email+code) }
                nonce: { type: string, description: required with token — the nonce whose hash was sent when the link was requested }
                name: { type: string, maxLength: 60, description: "Optional label for the key this sign-in issues, shown in the Keys list (GET /v1/me/keys). Defaults to \"dashboard sign-in\" for a link or Google, \"agent sign-in\" for a typed code." }
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: Invalid or expired code
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/auth/oauth/providers:
    get:
      operationId: getOAuthProviders
      summary: List enabled OAuth providers
      description: >-
        Google (more providers later). Public discovery for pages and the dashboard. Returns the enabled
        provider names (`google`) so pages never hardcode a provider.
        Empty when sign-in is not configured. Sign-in creates or links a
        `users` row; a hosted-page session still does not disclose an API key.
      tags: [Visitor]
      responses:
        '200':
          description: Enabled providers
          content:
            application/json:
              schema:
                type: object
                required: [providers, email_enabled]
                properties:
                  email_enabled: { type: boolean, description: Whether email sign-in codes are configured }
                  providers:
                    type: array
                    items: { type: string, enum: [google] }
                    example: [google]

  /v1/auth/oauth/{provider}:
    get:
      operationId: startOAuth
      summary: Start OAuth
      description: >-
        Apex start. Query `return_to` is required and must be an absolute URL.
        Two shapes: the dashboard origin `/` (owner purpose — callback hands
        off via `/?token=`; success 302s to the provider with PKCE S256) or a
        site's own address — a site host `https://<site>.<handle>.simple-host.app/...` (or, while that person's certificate is pending, the person address `https://<handle>.simple-host.app/<site>/...`), a claimed name or a DNS-proven bound domain (site purpose). A site-purpose start is not begun here: it 302s to
        `GET /v1/visitor/oauth/{provider}` on that site's own host, which binds the sign-in to the browser.
        Unknown or disabled provider is 404. No cookie is set here. The
        Legacy path-address (`sites.<domain>/<handle>/<site>/`) return_to URLs are rejected with 400 invalid return_to, as are apex URLs outside the dashboard. The caller cannot set `purpose`; it is derived from `return_to`.
      tags: [Visitor]
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [google] }
        - name: return_to
          in: query
          required: true
          schema: { type: string, format: uri }
          description: Absolute URL of the page to return to after sign-in
      responses:
        '302':
          description: Redirect to the identity provider
          headers:
            Location: { schema: { type: string, format: uri } }
        '400':
          description: Invalid or missing return_to
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { error: invalid return_to }
        '404':
          description: Unknown or disabled provider
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { error: not found }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/auth/oauth/{provider}/callback:
    get:
      operationId: oauthCallback
      summary: OAuth callback
      description: >-
        Provider redirect URI on the apex. Consumes the one-time `state`.
        Identifies via userinfo, then `resolveUser` (link or create a `users`
        row on a verified email; refuse missing/unverified email). Site
        purpose 302s to `https://<return-host>/v1/visitor/establish?once=…`.
        Owner purpose 302s to `{PUBLIC_BASE_URL}/?token=…` for the dashboard
        to redeem via `POST /v1/auth/verify`. Neither redirect contains an
        API key. Failures are a short no-store HTML page on the apex with no
        Location and no cookie.
      tags: [Visitor]
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [google] }
        - name: code
          in: query
          schema: { type: string }
        - name: state
          in: query
          schema: { type: string }
        - name: error
          in: query
          schema: { type: string }
      responses:
        '302':
          description: >-
            Site purpose: redirect to /v1/visitor/establish on the stored host.
            Owner purpose: redirect to /?token= on PUBLIC_BASE_URL.
          headers:
            Location: { schema: { type: string, format: uri } }
        '400':
          description: Bad, replayed, or expired state, or provider error
          content:
            text/html:
              schema: { type: string }
        '404':
          description: Unknown or disabled provider
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '502':
          description: Token or userinfo failure
          content:
            text/html:
              schema: { type: string }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/visitor/oauth/{provider}:
    get:
      operationId: startVisitorOAuth
      summary: Start visitor sign-in on the site's own host
      description: >-
        Visitor sign-in start, served on the site's own address (its `<site>.<handle>` host, person address, claimed name or bound domain).
        `return_to` must be a page on this same host that belongs to the site served here.
        Sets a short-lived host-only nonce cookie (`__Host-sh_vnonce`, HttpOnly, Secure, SameSite=Lax, 10 minutes; `sh_vnonce` on local HTTP),
        stores only its SHA-256 with the OAuth state, and 302s to the provider with PKCE S256.
        `GET /v1/visitor/establish` later sets the session only in the browser holding that nonce, so a sign-in finished elsewhere cannot be completed in another browser (login CSRF).
        auth.js `SH.signIn()` navigates here.
      tags: [Visitor]
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [google] }
        - name: return_to
          in: query
          required: true
          schema: { type: string, format: uri }
          description: Absolute URL of a page on this host to return to after sign-in
      responses:
        '302':
          description: Nonce cookie set; redirect to the identity provider
          headers:
            Location: { schema: { type: string, format: uri } }
            Set-Cookie: { schema: { type: string } }
        '400':
          description: Missing return_to, or one that is not a page of the site on this host
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { error: invalid return_to }
        '404':
          description: Unknown or disabled provider
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { error: not found }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/visitor/establish:
    get:
      operationId: establishVisitor
      summary: Establish the visitor session cookie
      description: >-
        One-time hop on the site's own address (its `<site>.<handle>` host or domain). Consumes `once`,
        host-matches, requires the `__Host-sh_vnonce` cookie set by `GET /v1/visitor/oauth/{provider}` in this browser
        (its hash must match the one bound to the code; the code is burned on any failure),
        sets `__Host-sh_vsess` (or `sh_vsess` on local HTTP), clears the nonce cookie,
        then 302s to the stored `return_to` with no query mutation. Never sets
        a cookie on the apex or the legacy path address. Failures are HTML, no cookie, no redirect.
      tags: [Visitor]
      parameters:
        - name: once
          in: query
          required: true
          schema: { type: string }
      responses:
        '302':
          description: Cookie set; redirect to the stored return_to
          headers:
            Location: { schema: { type: string, format: uri } }
            Set-Cookie: { schema: { type: string } }
        '400':
          description: Bad, replayed, expired, host-mismatch, missing or wrong nonce cookie, or apex Host
          content:
            text/html:
              schema: { type: string }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/visitor/logout:
    post:
      operationId: logoutVisitor
      summary: Log out this visitor session
      description: >-
        Deletes the session named by the visitor cookie and clears the cookie.
        Requires `X-SH-CSRF: 1` or `Content-Type: application/json` (not a
        simple form post).
      tags: [Visitor]
      parameters:
        - name: X-SH-CSRF
          in: header
          required: false
          schema: { type: string, enum: ['1'] }
      responses:
        '204': { description: Session deleted and cookie cleared }
        '403':
          description: Missing CSRF header (and not a JSON request)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  code: { type: string, example: csrf_required }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/me:
    patch:
      operationId: patchMe
      summary: Edit display name or change your handle
      description: >-
        Changing the handle changes every address (https://<handle>.simple-host.app/ and
        https://<site>.<handle>.simple-host.app/). Before anything is published it changes freely.
        After that it can change once every 30 days: the old handle stays reserved for this account
        and every old address redirects to the new one. A new handle gets its own certificate; until
        it is issued, sites briefly use the fallback https://<handle>.simple-host.app/<site>/. What pages kept
        in visitors' browsers starts empty at the new address, and visitors sign in again.
      security: [{apiKey: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                display_name: {type: string, maxLength: 100, description: Trimmed; empty clears the name. Never used in URLs.}
                handle: {type: string, pattern: '^[a-z0-9-]{1,39}$', description: "The <handle> in your address https://<handle>.simple-host.app/. Must not be reserved or already taken (handles and free <name>.simple-host.app addresses share one namespace)."}
                signin_alerts: {type: boolean, description: "Sign-in alert emails (default true): one email after each sign-in or app connection, at most one per browser or app a day. Needs one of the account's own API keys (a connected app or the admin key gets 400 not_an_account_key)."}
      responses:
        '200': {description: Updated account profile}
        '400': {description: "Invalid profile, or signin_alerts sent without an account key (code not_an_account_key)"}
        '401': {description: API key required}
        '409': {description: Handle taken}
        '429':
          description: The handle already changed within the last 30 days after publishing
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  next_change_after: { type: string, format: date-time }
    get:
      operationId: getMe
      summary: Current user
      tags: [Auth]
      security: [{ apiKey: [] }]
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  username: { type: string }
                  handle: { type: string, description: "The <handle> in your addresses: sites at https://<site>.<handle>.simple-host.app/, your page at https://<handle>.simple-host.app/" }
                  public_page: { type: string, format: uri, description: "The account's public page listing its public sites, e.g. https://<handle>.simple-host.app/. Present with handle." }
                  display_name: { type: string }
                  is_admin: { type: boolean }
                  signin_alerts: { type: boolean, description: "Whether an email follows each sign-in or app connection (PATCH /v1/me to change)." }
                  address: { $ref: '#/components/schemas/AddressState' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    delete:
      operationId: deleteMe
      summary: Delete your account and all its data
      description: >-
        Deletes the account at once and for good; nothing goes to Recently deleted and nothing can
        be restored. Removed: every site (including ones in Recently deleted) with its files,
        versions, saved data, lists and analytics; keys; connected apps; visitor sign-ins; and every
        entry this person sent to other people's private lists while signed in (entries on public
        lists and shared page data are not linked to anyone and stay; support@simple-host.app helps
        with those). The handle, old handles and claimed
        <name>.simple-host.app addresses are retired, never given to anyone else; custom domains are
        released. A confirmation email goes to the account's address. Offer GET /v1/me/export.tar.gz
        first. Refused for a suspended account or one holding a site the operator took down (the
        operator handles those), an admin account, or one still holding event hostnames.
      tags: [Auth]
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirm]
              properties:
                confirm: { type: string, description: "The account's handle, or its email when it has no handle. Case-insensitive." }
      responses:
        '204': { description: Deleted }
        '400': { description: "confirm missing (code confirm_required) or does not match (code confirm_mismatch)" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: "Suspended account (code account_suspended), a site of the account taken down (code site_suspended) or admin account (code admin_account)" }
        '409': { description: "The account still holds event hostnames (code event_hostnames)" }
        '429': { description: Too many requests from this address }

  /v1/me/email:
    post:
      operationId: requestEmailChange
      summary: "Change your sign-in email, step 1: send a code to the new address"
      description: >-
        Emails a 6-digit code to the new address (15 minutes, 3 tries). Send it to
        POST /v1/me/email/verify to finish. Asking looks the same for every address. Needs one of
        the account's own API keys: a connected app or the admin key gets 400 not_an_account_key.
        Rate-limited per address and per account, like sign-in.
      tags: [Auth]
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '202':
          description: Code sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  email: { type: string }
                  expires_in_seconds: { type: integer }
        '400': { description: "Not an account key (code not_an_account_key), not an email (code invalid_email) or already the sign-in email (code same_email)" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: "The plugin reviewer account, whose email the operator sets (code reviewer_account)" }
        '429': { description: Too many requests }

  /v1/me/email/verify:
    post:
      operationId: verifyEmailChange
      summary: "Change your sign-in email, step 2: confirm with the code"
      description: >-
        Moves the account to the new address: from now on sign-in codes go there. Keys, the handle,
        sites and connected apps stay; a linked Google sign-in keeps working. Open sign-in codes for
        the old address stop working, and the old address gets a notice naming the new one masked
        (n***@example.com). An address another account signs in with is refused here, after its
        code is verified (409 email_taken). Needs one of the account's own API keys.
      tags: [Auth]
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, description: The 6-digit code emailed to the new address }
      responses:
        '200':
          description: Changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  username: { type: string }
                  email: { type: string }
                  message: { type: string }
        '400': { description: "Not an account key (code not_an_account_key), no code, or no change waiting (code no_pending_change)" }
        '401': { description: "Wrong or expired code, or too many tries (code invalid_code)" }
        '409': { description: "Another account signs in with that address (code email_taken)" }
        '429': { description: Too many requests }

  /v1/me/export.tar.gz:
    get:
      operationId: exportMe
      summary: Download all your data
      description: >-
        Streams one .tar.gz of everything held about the account: README.txt; account.json (email,
        handle, display name, created, earlier handles, claimed names including retired ones, custom
        domains, linked Google/GitHub sign-ins); keys.json (name, last 4 characters, created, last
        used; never keys or hashes); connected_apps.json (name, connected, last used); visitor.json
        (sites signed in to as a visitor with first sign-in and last seen, and every entry
        sent to other people's private lists while signed in); and sites/<name>/ for every live site in the same layout
        as GET /v1/sites/{sitename}/export.tar.gz. Visitor analytics hold no personal data (salted
        hashes) and are not included. Needs one of the account's own API keys: a connected app or
        the admin key gets 400 not_an_account_key. A suspended account gets 403 account_suspended
        and writes to support@simple-host.app for a copy of its data.
      tags: [Auth]
      security: [{ apiKey: [] }]
      responses:
        '200':
          description: A gzipped tar archive
          content:
            application/gzip:
              schema: { type: string, format: binary }
        '400':
          description: Not one of the account's own API keys (code not_an_account_key)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: The account is suspended (code account_suspended); write to support@simple-host.app for a copy of the data
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/me/api-key/rotate:
    post:
      operationId: postMeApiKeyRotate
      summary: Sign out everywhere (rotate your API key)
      description: The "Sign out everywhere" button. Replaces all of the authenticated owner's API keys with one new key and returns it. Every older key stops working immediately, and every connected app (see /v1/me/connections) is disconnected. Keys are stored only as SHA-256 hashes, so this response is the only time the new key is shown.
      tags: [Auth]
      security: [{ apiKey: [] }]
      responses:
        '200':
          description: API key rotated
          content:
            application/json:
              schema:
                type: object
                required: [api_key, message]
                properties:
                  api_key: { type: string }
                  message: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/me/connections:
    get:
      operationId: getMeConnections
      summary: List connected apps
      description: >-
        The AI apps (ChatGPT, Claude, Grok, a GPT Action) this account has connected through the
        Simple Host connector (OAuth at /oauth/authorize, MCP at /mcp). Each is listed once, however
        many times it was connected.
      tags: [Auth]
      security: [{ apiKey: [] }]
      responses:
        '200':
          description: Connected apps, newest first
          content:
            application/json:
              schema:
                type: object
                required: [connections]
                properties:
                  connections:
                    type: array
                    items:
                      type: object
                      required: [client_id, name, connected_at, last_used_at]
                      properties:
                        client_id: { type: string }
                        name: { type: string, description: The name the app registered with }
                        connected_at: { type: string, format: date-time }
                        last_used_at: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/me/deleted-sites:
    get:
      operationId: getMeDeletedSites
      summary: List recently deleted sites
      description: >-
        Sites this account deleted in the last 7 days. Each keeps its files, versions, saved data,
        collections and addresses, and its name stays taken, until purge_at; POST
        /v1/sites/{sitename}/restore brings it back until then.
      tags: [Sites]
      security: [{ apiKey: [] }]
      responses:
        '200':
          description: Recently deleted sites, most recently deleted first
          content:
            application/json:
              schema:
                type: object
                required: [sites, retention_days]
                properties:
                  retention_days: { type: integer, example: 7 }
                  sites:
                    type: array
                    items:
                      type: object
                      required: [name, deleted_at, purge_at]
                      properties:
                        name: { type: string }
                        deleted_at: { type: string, format: date-time }
                        purge_at: { type: string, format: date-time, description: When it is removed for good }
                        custom_domain: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/me/connections/{client_id}:
    delete:
      operationId: deleteMeConnection
      summary: Disconnect an app
      description: Revokes every token this account granted to the app. It has to be connected again, with a fresh sign-in, to be used.
      tags: [Auth]
      security: [{ apiKey: [] }]
      parameters:
        - { name: client_id, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: Disconnected }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: No connected app with that id }

  /v1/me/sign-out:
    post:
      operationId: postMeSignOut
      summary: Sign out (end the key this request used)
      description: >-
        Deletes the API key sent with this request, so it stops working everywhere; the account's
        other keys and connected apps are untouched. The dashboard's Sign out calls this before it
        clears the key from the browser. Needs one of the account's own keys (the admin env key or a
        connected app gets 400 not_an_account_key).
      tags: [Auth]
      security: [{ apiKey: [] }]
      responses:
        '204': { description: Signed out; the key no longer works }
        '400': { description: Not one of the account's own keys (code not_an_account_key), content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/me/keys:
    get:
      operationId: getMeKeys
      summary: List your API keys
      description: >-
        Every key on the account, newest first. `current` marks the key this request was made with.
        Keys issued before names existed have no `name` or `last4` (shown as "Earlier key").
        `last_used_at` is updated at most every 5 minutes.
      tags: [Auth]
      security: [{ apiKey: [] }]
      responses:
        '200':
          description: The account's keys
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys:
                    type: array
                    items: { $ref: '#/components/schemas/APIKey' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      operationId: postMeKey
      summary: Create a named API key
      description: >-
        Mints a new key with the given name (for a CI secret or another machine) and returns it once;
        it is stored only as a hash. Needs one of the account's own keys (the admin env key or a
        connected app gets 400 not_an_account_key). An account holds at most 50 keys (409 key_limit);
        a key revoked or rotated away mid-request gets 401 invalid_api_key.
      tags: [Auth]
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 60, example: GitHub Actions }
      responses:
        '201':
          description: Key created. `api_key` is shown only here.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/APIKey' }
                  - type: object
                    required: [api_key]
                    properties:
                      api_key: { type: string, example: shk_0123abcd… }
                      message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: The account already holds 50 keys (code key_limit); revoke one first.
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /v1/me/keys/{id}:
    delete:
      operationId: deleteMeKey
      summary: Revoke one API key
      description: >-
        The key stops working at once; the account's other keys and connected apps are untouched.
        Revoking the key this request uses signs this caller out. Needs one of the account's own keys.
      tags: [Auth]
      security: [{ apiKey: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: Revoked }
        '400': { description: Not one of the account's own keys (code not_an_account_key) }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: No key with that id on this account }

  /v1/sites:
    get:
      operationId: getSites
      summary: List your sites
      description: Returns the authenticated user's sites. Admins see all sites.
      tags: [Sites]
      security: [{ apiKey: [] }]
      responses:
        '200':
          description: List of sites
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/Site' } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/sites/{sitename}/files:
    post:
      operationId: postSitesBySitenameFiles
      summary: Deploy a site from inline JSON files
      description: >-
        The LLM-friendly deploy path — send every file inline in one request, no
        archiving. Text goes in `files`; base64-encoded binary goes in
        `files_base64`. `index.html` is required. Relative paths only (`..`/absolute are
        rejected); secret files (`.env`, `.git/*`, `id_rsa`) are dropped and script
        extensions (`.sh .py .php …`) are rejected. Use PUT to update an existing site.
      tags: [Deploy]
      security: [{ apiKey: [] }]
      parameters: [ { $ref: '#/components/parameters/sitename' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FilesBody' }
      responses:
        '201':
          description: Site created
          content: { application/json: { schema: { $ref: '#/components/schemas/SiteWithNote' } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
    put:
      operationId: putSitesBySitenameFiles
      summary: Update a site from inline JSON files
      description: >-
        Same as POST, but for an existing site you own. Creates a new version and activates it;
        with ?publish=false the version is only stored (visitors keep seeing the live one) and the
        answer adds unpublished_version, preview_url and preview_expires_at.
      tags: [Deploy]
      security: [{ apiKey: [] }]
      parameters: [ { $ref: '#/components/parameters/sitename' }, { $ref: '#/components/parameters/publish' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FilesBody' }
      responses:
        '200':
          description: Site updated
          content: { application/json: { schema: { $ref: '#/components/schemas/SiteWithNote' } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/sites/{sitename}:
    patch:
      operationId: patchSitesBySitename
      summary: Rename your site, or take it offline
      description: >-
        One change per request. With {"offline": true} the site is taken
        offline: every address answers a plain "This site is offline" page
        (503) and visitor saves (state and collection writes from a page) are
        refused with 403 site_offline; files, versions and saved data are
        kept, and the owner's key or connector still deploys, reads and
        writes. {"offline": false} puts it back online. An operator take-down
        wins over it, and a taken-down site cannot be switched (403
        site_suspended). The answer is the site object with `offline` and a
        `note`. With {"name": "new-name"} it
        renames the database row and on-disk site directory. The new name uses
        the same validation and per-owner uniqueness rule as creation. A bound
        custom domain remains attached. Links to the old name keep working:
        its site host, person-path and sites.* addresses 302 to the new
        address (path and query kept), through any chain of renames, until a
        site with the old name is created again (the new site wins); the
        response says so with old_url_status "redirects". Deleting the site
        stops the redirects (restoring brings them back); purging it removes
        them.
      tags: [Sites]
      security: [{ apiKey: [] }]
      parameters: [ { $ref: '#/components/parameters/sitename' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Exactly one of name or offline.
              properties:
                name: { type: string, example: new-site-name, description: The new name (renames the site). }
                offline: { type: boolean, description: true takes the site offline; false puts it back online. }
      responses:
        '200': { description: "Renamed (old_name, name, old_url, site_url, old_url_status) or switched (the site object with offline and note)" }
        '403': { description: "The operator has taken the site down (code site_suspended)" }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    post:
      operationId: postSitesBySitename
      summary: Create a site from an archive
      description: Upload a `.tar.gz` or `.zip` (for framework builds, binary assets, large sites). Max 100 MB.
      tags: [Deploy]
      security: [{ apiKey: [] }]
      parameters: [ { $ref: '#/components/parameters/sitename' } ]
      requestBody:
        required: true
        content:
          application/gzip: { schema: { type: string, format: binary } }
          application/zip: { schema: { type: string, format: binary } }
      responses:
        '201': { description: Site created, content: { application/json: { schema: { $ref: '#/components/schemas/SiteWithNote' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/TooLarge' }
    put:
      operationId: putSitesBySitename
      summary: Update a site from an archive
      description: >-
        Upload a new version of an existing site you own. Creates a new version and activates it;
        with ?publish=false the version is only stored (visitors keep seeing the live one) and the
        answer adds unpublished_version, preview_url and preview_expires_at.
      tags: [Deploy]
      security: [{ apiKey: [] }]
      parameters: [ { $ref: '#/components/parameters/sitename' }, { $ref: '#/components/parameters/publish' } ]
      requestBody:
        required: true
        content:
          application/gzip: { schema: { type: string, format: binary } }
          application/zip: { schema: { type: string, format: binary } }
      responses:
        '200': { description: Site updated, content: { application/json: { schema: { $ref: '#/components/schemas/SiteWithNote' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/TooLarge' }
    delete:
      operationId: deleteSitesBySitename
      summary: Delete your site
      description: >-
        Takes the site offline at once, with every version, its saved state and collections. It
        stays in Recently deleted (GET /v1/me/deleted-sites) for 7 days with its name held, and
        POST /v1/sites/{sitename}/restore brings it back exactly as it was; after that it is removed
        for good. Creating a site with a held name answers 409 with recently_deleted true.
      tags: [Sites]
      security: [{ apiKey: [] }]
      parameters: [ { $ref: '#/components/parameters/sitename' } ]
      responses:
        '204': { description: Site deleted (restorable for 7 days) }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/sites/{sitename}/restore:
    post:
      operationId: restoreSite
      summary: Restore a recently deleted site
      description: >-
        Brings a site back from Recently deleted under the same name and address, with every
        version, its saved data, collections and connected address, live at once.
      tags: [Sites]
      security: [{ apiKey: [] }]
      parameters: [ { $ref: '#/components/parameters/sitename' } ]
      responses:
        '200': { description: The restored site, as in GET /v1/sites }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Site quota reached }
        '404': { description: No site with that name in Recently deleted }
        '409': { description: That site is live, not deleted }

  /v1/sites/{sitename}/export.tar.gz:
    get:
      operationId: exportSite
      summary: Download a site as a tar.gz
      description: >-
        Streams the site's published files (`files/`), its saved JSON state
        (`state.json`) and its collections (`collections.json`: every list,
        private ones included, each entry as `{id, created_at, submitted_by,
        data}`; `submitted_by` only on private lists) as one archive. Exists because an event instance is
        destroyed when the event ends and nothing is backed up, so the person who
        built something can take it with them. The saved data comes first: the
        files usually exist somewhere else, the JSON only lives here.
      tags: [Sites]
      security: [{ apiKey: [] }]
      parameters:
        - { name: sitename, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: A gzipped tar archive
          content:
            application/gzip:
              schema: { type: string, format: binary }
        '404': { description: Not found, or not yours }

  /v1/sites/{sitename}/export-link:
    post:
      operationId: createExportLink
      summary: Make a 10-minute download link for a site's export
      description: >-
        Returns a link that downloads the same archive as `export.tar.gz`
        without an API key, for people who use Simple Host only through a chat
        app's connector (the `export_site` tool). The link is signed for this
        owner and this site, expires after 10 minutes, and stops working if
        the site is deleted or the server restarts. Anyone holding it can
        download the copy until then, so hand it to the person only.
      tags: [Sites]
      security: [{ apiKey: [] }]
      parameters:
        - { name: sitename, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: The link
          content:
            application/json:
              schema:
                type: object
                required: [site, url, expires_at, expires_in]
                properties:
                  site: { type: string }
                  url: { type: string, example: 'https://simple-host.app/v1/export?token=...' }
                  expires_at: { type: string, format: date-time }
                  expires_in: { type: integer, description: Seconds until it expires (600) }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/export:
    get:
      operationId: downloadExport
      summary: Download a site's export through a link from export-link
      description: >-
        No API key: the signed `token` is the whole authorization, for one
        site, for 10 minutes. Streams the archive described under
        `export.tar.gz`. An expired, altered or unknown token, or one for a
        site since deleted or moved to another account, answers 404 with code
        `export_link_invalid`.
      tags: [Sites]
      security: []
      parameters:
        - { name: token, in: query, required: true, schema: { type: string } }
      responses:
        '200':
          description: A gzipped tar archive
          content:
            application/gzip:
              schema: { type: string, format: binary }
        '404':
          description: The link is not valid or has expired
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { error: this download link is not valid or has expired, code: export_link_invalid }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/sites/{sitename}/versions:
    get:
      operationId: getSitesBySitenameVersions
      summary: List a site's versions
      description: >-
        The versions this instance still holds, newest first. An instance may be configured to
        keep only the last few deploys, or only the live one, in which case older versions are
        absent here and from disk. KEEP_VERSIONS controls it; event boxes are installed with 1.
      tags: [Sites]
      security: [{ apiKey: [] }]
      parameters: [ { $ref: '#/components/parameters/sitename' } ]
      responses:
        '200':
          description: Versions (newest first)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    version_number: { type: integer }
                    created_at: { type: string, format: date-time }
                    is_active: { type: boolean }
                    status: { type: string, enum: [active, ready], description: "active: complete and live now or before; ready: stored with publish=false and never live yet" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/sites/{sitename}/versions/{version}/files:
    get:
      operationId: getSitesBySitenameVersionFiles
      summary: List files in a retained version
      description: Owner only. Walks the version directory; paths are relative, use forward slashes, and are sorted. Pruned versions return 404.
      tags: [Sites]
      security: [{ apiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - { $ref: '#/components/parameters/version' }
      responses:
        '200':
          description: Version metadata and files
          content:
            application/json:
              schema:
                type: object
                required: [version_number, is_active, created_at, files]
                properties:
                  version_number: { type: integer }
                  is_active: { type: boolean }
                  created_at: { type: string, format: date-time }
                  files:
                    type: array
                    items:
                      type: object
                      required: [path, size]
                      properties:
                        path: { type: string, example: index.html }
                        size: { type: integer, format: int64, description: Size in bytes }
        '400': { description: Invalid version, empty site name, or invalid file path }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Site not found or version not found (including pruned versions) }

  /v1/sites/{sitename}/versions/{version}/files/{path}:
    get:
      operationId: getSitesBySitenameVersionFile
      summary: Read a file from a retained version
      description: >-
        Owner only. Streams raw bytes with a Content-Type based on the file extension
        (application/octet-stream fallback; HTML uses UTF-8). Directories return 404.
        Paths containing '..', leading slashes, backslashes, NUL, or symlinks escaping
        the version directory are rejected. Pruned versions return 404.
      tags: [Sites]
      security: [{ apiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - { $ref: '#/components/parameters/version' }
        - { $ref: '#/components/parameters/path' }
      responses:
        '200':
          description: Raw file bytes
          headers:
            Cache-Control: { schema: { type: string, enum: ['private, no-store'] } }
            X-Content-Type-Options: { schema: { type: string, enum: [nosniff] } }
            Content-Security-Policy: { schema: { type: string, enum: [sandbox] } }
          content:
            '*/*':
              schema: { type: string, format: binary }
        '400': { description: Invalid version, empty site name, or invalid path }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Site not found, version not found, or file not found }

  /v1/sites/{sitename}/versions/{version}/preview-link:
    post:
      operationId: postSitesBySitenameVersionPreviewLink
      summary: Preview a kept version
      description: >-
        Owner only. Mints an hour-long link that shows one kept version (live, earlier, or stored
        with publish=false) exactly as visitors would see it, on the site's own host:
        https://<site>.<handle>.simple-host.app/__preview/<n>/<token>/ (or
        briefly, as a fallback while the person's certificate is not ready, <handle>.simple-host.app/<site>/__preview/...).
        The token is an HMAC over site, version and expiry; it stops working after an hour or a
        server restart. Preview pages are noindex and never cached, and saves made from them are
        refused (403 preview_read_only). Make the version live with PUT .../active-version.
      tags: [Sites]
      security: [{ apiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - { $ref: '#/components/parameters/version' }
      responses:
        '200':
          description: The preview link
          content:
            application/json:
              schema:
                type: object
                properties:
                  site: { type: string }
                  version: { type: integer }
                  live: { type: boolean, description: Whether visitors see this version now }
                  url: { type: string, format: uri }
                  expires_at: { type: string, format: date-time }
                  expires_in: { type: integer, example: 3600 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: "The operator has taken the site down (code site_suspended)" }
        '404': { description: Site or version not found (including pruned versions) }
        '409': { description: "The site has no address of its own to preview on (code preview_unavailable)" }

  /v1/sites/{sitename}/active-version:
    put:
      operationId: putSitesBySitenameActiveVersion
      summary: Roll back to a version, or make a stored version live
      description: >-
        Re-point the live site at an existing version number: an earlier one, or one stored with
        publish=false (which then counts as live).
      tags: [Sites]
      security: [{ apiKey: [] }]
      parameters: [ { $ref: '#/components/parameters/sitename' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version_number]
              properties: { version_number: { type: integer, example: 2 } }
      responses:
        '200': { description: Active version changed }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/sites/{sitename}/visibility:
    put:
      operationId: putSitesBySitenameVisibility
      summary: Set showcase visibility
      description: >-
        Set whether this site is listed on the owner's account page at
        https://<handle>.simple-host.app/. `public` = listed there; `unlisted` =
        hidden from it. New sites are created `unlisted` — listing is an
        explicit act, not a side effect of deploying.


        This controls LISTING ONLY. Both values are equally reachable by anyone
        with the URL; nothing on the content-serving path consults it.
        `unlisted` is not privacy and must never be described as such. Owner
        only (API key).
      tags: [Sites]
      security: [{ apiKey: [] }]
      parameters: [ { $ref: '#/components/parameters/sitename' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [visibility]
              properties: { visibility: { type: string, enum: [public, unlisted], example: unlisted } }
      responses:
        '200': { description: Visibility updated }
        '400': { description: Invalid visibility value }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/sites/{sitename}/keep:
    put:
      operationId: putSitesBySitenameKeep
      summary: Keep a site up for good
      description: >-
        Mark the site Keep (or clear the mark). Where the idle-site cleanup is on
        (simple-host.app), a site with no visits by people and no new version for 90
        days gets its owner an email with one-click "Keep it" and "Download it" links;
        30 days later with nothing done it moves to Recently deleted (restorable for
        7 days, with a one-click link in a second email). A site marked Keep is never
        flagged, and marking it ends a pending warning. Sites with their own domain or
        claimed name are never flagged either. Owner only (API key).
      tags: [Sites]
      security: [{ apiKey: [] }]
      parameters: [ { $ref: '#/components/parameters/sitename' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [keep]
              properties: { keep: { type: boolean, example: true } }
      responses:
        '200':
          description: The flag as set
          content:
            application/json:
              schema: { type: object, properties: { name: { type: string }, keep: { type: boolean } } }
        '400': { description: 'Body is not {"keep": true|false}' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '423': { description: The site is taken down by the operator }

  /v1/idle/keep:
    get:
      operationId: getIdleKeep
      summary: '"Keep it" link from an idle-site email'
      description: >-
        Opened from the idle-site email; no sign-in, the token is the authorization.
        The site stays up and its idle clock restarts; the link is then spent. Answers
        an HTML page (404 page when the link was used, replaced or has expired).
      tags: [Sites]
      security: []
      parameters: [ { name: t, in: query, required: true, schema: { type: string }, description: The token from the email } ]
      responses:
        '200': { description: HTML page confirming the site stays up }
        '404': { description: HTML page; the link was used or has expired }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /v1/idle/download:
    get:
      operationId: getIdleDownload
      summary: '"Download it" link from an idle-site email'
      description: >-
        The site's export (the same .tar.gz as GET /v1/sites/{site}/export.tar.gz),
        with no sign-in, while the site is warned and not yet removed.
      tags: [Sites]
      security: []
      parameters: [ { name: t, in: query, required: true, schema: { type: string } } ]
      responses:
        '200': { description: The export, application/gzip }
        '404': { description: HTML page; the link was used or has expired }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /v1/idle/restore:
    get:
      operationId: getIdleRestore
      summary: '"Restore it" link from an idle-site removal email'
      description: >-
        Brings a site the idle-site cleanup moved to Recently deleted back exactly as
        it was (versions, saved data, names), with a fresh idle clock, while it is
        still in Recently deleted. No sign-in; the link is then spent. HTML page.
      tags: [Sites]
      security: []
      parameters: [ { name: t, in: query, required: true, schema: { type: string } } ]
      responses:
        '200': { description: HTML page confirming the site is back }
        '404': { description: HTML page; the link was used or has expired }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/analytics/sites:
    get:
      operationId: getAnalyticsSites
      summary: Per-site traffic totals for every site you own
      description: >-
        One call returning the class split for all of the caller's sites,
        ordered by `person.views` descending — the "which of my sites are
        actually being read" view. Exists so a dashboard can sort by traffic
        without one request per site.


        Not under `/v1/sites/...` because that would collide with a site named
        "analytics". Pass `all=1` (admins only) to widen the scope to every site
        on the instance; non-admins get 403 rather than a silently narrowed list.
      tags: [Analytics]
      security: [{ apiKey: [] }]
      parameters:
        - name: days
          in: query
          required: false
          description: Number of UTC days to include (default 30, clamp 1..365)
          schema: { type: integer, minimum: 1, maximum: 365, default: 30 }
        - name: all
          in: query
          required: false
          description: Admins only — include every site on the instance.
          schema: { type: string, enum: ['1'] }
      responses:
        '200':
          description: Per-site totals, highest `person.views` first.
          content:
            application/json:
              schema:
                type: object
                properties:
                  range_days: { type: integer, example: 30 }
                  sites:
                    type: array
                    items:
                      allOf:
                        - type: object
                          properties:
                            name: { type: string, example: "eb2-wait" }
                        - $ref: '#/components/schemas/TrafficSplit'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: '`all=1` requested by a non-admin' }

  /v1/sites/{sitename}/analytics:
    get:
      operationId: getSitesBySitenameAnalytics
      summary: Get per-site visitor analytics
      description: >-
        Owner-scoped view and visitor counts derived server-side from the access
        log (no client beacon). Every bucket is split three ways by who was
        asking: `person` (no automation signature), `bot` (crawlers, AI
        scrapers, SEO tools, security scanners, HTTP libraries) and `infra`
        (uptime probes and health checks aimed at the site). Read `person` as
        the audience number — a total that folds in `infra` is dominated by
        monitoring, not people.


        `visitors` are unique visitors: COUNT(DISTINCT hashed IP) over the
        window asked for. The salt is stable, so `totals.*.visitors` is genuine
        uniques for the range and is NOT the sum of the `daily` figures —
        someone who visited on five days is one unique in `totals` and five in
        `daily`. IP-based, so a shared office NAT reads as one visitor and a
        phone switching wifi→cellular reads as two.


        `daily` is zero-filled dense for the requested window (oldest → newest).
        `hourly` is always 24 zero-filled buckets ending with the hour in
        progress. Only successful document responses (200/304, non-asset paths)
        count as views, for every class alike. Owner only (API key).
      tags: [Analytics]
      security: [{ apiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - name: days
          in: query
          required: false
          description: Number of UTC days to include (default 30, clamp 1..365)
          schema: { type: integer, minimum: 1, maximum: 365, default: 30 }
        - name: owner
          in: query
          required: false
          description: >-
            Handle of the account that owns the site. Omit it (or pass your own
            handle) for your own site. Any other handle is honoured for the
            platform admin only; for everyone else it answers 404, the same as a
            site that does not exist.
          schema: { type: string }
      responses:
        '200':
          description: Analytics for the site
          content:
            application/json:
              schema:
                type: object
                properties:
                  range_days: { type: integer, example: 30 }
                  classified_from:
                    type: string
                    format: date
                    example: "2026-08-09"
                    description: >-
                      First UTC day for which the person/bot/infra split exists.
                      Earlier days in `daily` report under `unknown`. Omitted
                      when nothing has been classified yet.
                  totals: { $ref: '#/components/schemas/TrafficSplit' }
                  last_24h: { $ref: '#/components/schemas/TrafficSplit' }
                  daily:
                    type: array
                    items:
                      allOf:
                        - type: object
                          properties:
                            day: { type: string, format: date, example: "2026-08-31" }
                        - $ref: '#/components/schemas/TrafficSplit'
                  hourly:
                    type: array
                    description: Exactly 24 buckets, oldest → newest.
                    items:
                      allOf:
                        - type: object
                          properties:
                            hour: { type: string, format: date-time, example: "2026-08-31T14:00:00Z" }
                        - $ref: '#/components/schemas/TrafficSplit'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/sites/{sitename}/analytics/geo:
    get:
      operationId: getSitesBySitenameAnalyticsGeo
      summary: Where a site's visitors are, by country
      description: >-
        Per-country traffic for one site over the last `days` UTC days, split by
        the same `person` / `bot` / `infra` classes as the rest of analytics and
        ordered by `person.views` descending (ties broken by country code).


        Country is resolved on the server from a local IP-range table refreshed
        from a public dataset — no visitor address is ever sent to a geolocation
        service, and the raw address is still never stored. Country data: "IP
        Geolocation by DB-IP" (https://db-ip.com), CC BY 4.0.


        `country` is ISO-3166 alpha-2. `"XX"` / `"Unknown"` is traffic the table
        could not place (an unlisted block, or a server whose ranges have not
        been loaded); it is listed rather than dropped, so the countries still
        add up to the site's totals.


        `visitors` is COUNT(DISTINCT hashed IP) over the whole window, exactly
        as in the main analytics endpoint — genuine uniques for the range, not
        the sum of the daily figures. Someone whose address changes country
        mid-range counts once in each, so the columns can total slightly more
        than the site's own figure. `unknown` is always zero here: the
        pre-classifier history has no addresses left to place. Owner only (API
        key).
      tags: [Analytics]
      security: [{ apiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - name: days
          in: query
          required: false
          description: Number of UTC days to include (default 30, clamp 1..365)
          schema: { type: integer, minimum: 1, maximum: 365, default: 30 }
        - name: owner
          in: query
          required: false
          description: >-
            Handle of the account that owns the site. Omit it (or pass your own
            handle) for your own site. Any other handle is honoured for the
            platform admin only; for everyone else it answers 404, the same as a
            site that does not exist.
          schema: { type: string }
      responses:
        '200':
          description: Per-country traffic, most real people first.
          content:
            application/json:
              schema:
                type: object
                properties:
                  range_days: { type: integer, example: 30 }
                  countries:
                    type: array
                    items:
                      allOf:
                        - type: object
                          properties:
                            country: { type: string, example: "US", description: 'ISO-3166 alpha-2, or "XX" when unresolved' }
                            country_name: { type: string, example: "United States" }
                        - $ref: '#/components/schemas/TrafficSplit'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/sites/{sitename}/me:
    get:
      operationId: getVisitorMe
      summary: Read the current site visitor session
      description: Pages call it same-origin on the site's own address — its address `https://<site>.<handle>.simple-host.app/` (only that site answers there), or its domain if it has one. Origin/Referer-gated. When the site has a connected domain and the call comes through another address, it returns signed_in false, sign_in_available false and code use_custom_domain with `domain` naming it, so the page can send the visitor to sign in there. Where sign-in is not offered (the legacy path address) the code is custom_domain_required. Checks the host, site and session expiry without extending the session. No CSRF header required. Anonymous visitors receive 200.
      tags: [State]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
      responses:
        '200':
          description: Signed-in identity or anonymous visitor
          headers:
            Cache-Control: { schema: { type: string, enum: ['private, no-store'] } }
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    required: [signed_in, expires_at]
                    properties:
                      signed_in: { type: boolean, enum: [true] }
                      email: { type: string, description: Latest verified OAuth identity email; users.username when no identity exists }
                      provider: { type: string, example: google, description: Google (more providers later); omitted when no OAuth identity exists }
                      expires_at: { type: string, format: date-time, description: Earlier of absolute and idle expiry (RFC3339) }
                  - type: object
                    required: [signed_in, sign_in]
                    properties:
                      signed_in: { type: boolean, enum: [false] }
                      sign_in: { type: string, enum: [/v1/auth/oauth/providers] }
                  - type: object
                    required: [signed_in, sign_in_available, code]
                    properties:
                      signed_in: { type: boolean, enum: [false] }
                      sign_in_available: { type: boolean, enum: [false] }
                      code: { type: string, enum: [custom_domain_required, use_custom_domain] }
                      domain: { type: string, description: The site's bound custom domain; present only with code use_custom_domain }
        '403': { $ref: '#/components/responses/OriginMismatch' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { description: Internal server error }
    options:
      operationId: optionsVisitorMe
      summary: Preflight for visitor session reads
      tags: [State]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
      responses:
        '204':
          description: Origin allowed
          headers:
            Access-Control-Allow-Methods: { schema: { type: string, enum: ['GET, OPTIONS'] } }
            Access-Control-Allow-Headers: { schema: { type: string, enum: [Content-Type] } }
        '403': { $ref: '#/components/responses/OriginMismatch' }

  /v1/sites/{sitename}/state:
    get:
      operationId: getSitesBySitenameState
      summary: Read per-site JSON state
      description: >-
        Returns the JSON blob for this site (`null` if unset). PUBLIC store — no API
        key. A request with no `Origin` and no `Referer` (curl, an agent) is served
        as is; a request from a page (`Origin`/`Referer` set) is accepted only from the
        site's own page (`https://<site>.<handle>.simple-host.app/`, or its domain). The site
        owner's (or the operator's) `X-API-Key` reads it from any page and names
        the owner's own site (how the owner app shows saved data). The response carries
        an `ETag`; send `If-None-Match: <etag>` to get a `304` when nothing changed
        (cheap polling). Never store secrets here.
      tags: [State]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - { name: If-None-Match, in: header, required: false, schema: { type: string } }
      responses:
        '200':
          description: Current state (arbitrary JSON, `null` if unset)
          headers: { ETag: { schema: { type: string } } }
          content: { application/json: { schema: {} } }
        '304': { description: Not modified (matched If-None-Match) }
        '403': { $ref: '#/components/responses/OriginMismatch' }
    put:
      operationId: putSitesBySitenameState
      summary: Replace per-site JSON state
      description: >-
        Overwrites the whole blob (≤ 1 MB), last-write-wins. Optionally pass
        `If-Match: <etag>` for optimistic concurrency (returns 412 on conflict).
        Origin-gated. Every save from a page needs a signed-in visitor: a visitor session (`X-SH-CSRF: 1`) on the site's own address — its address `https://<site>.<handle>.simple-host.app/` (same-origin `/v1/sites/{sitename}/...`; only that site answers there), or its domain if it has one. Agents write with the site owner's `X-API-Key` (or the connector signed in as the owner; the platform admin's key writes any site) through the apex `https://simple-host.app/v1/...`; another account's key gets 404 `{"error":"site not found"}` and writes nothing. A site with a connected domain takes page writes only there; writes through its other addresses answer 401 use_custom_domain. WRITE_AUTH_MODE=log/off and allow_anonymous_writes retain their compatibility exceptions. Invalid keys return 401 with {error: "invalid API key", code: "invalid_api_key"}.
      tags: [State]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - { name: If-Match, in: header, required: false, schema: { type: string } }
        - { $ref: '#/components/parameters/csrf' }
      requestBody: { required: true, content: { application/json: { schema: {} } } }
      responses:
        '200': { description: Saved; echoes the value, headers: { ETag: { schema: { type: string } } }, content: { application/json: { schema: {} } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: No visitor signed in (visitor_auth_required), invalid account API key (invalid_api_key), or a write through another address to a site that has a connected domain (use_custom_domain, with the domain in `domain`) — such a site saves only on its domain; use the apex (`https://simple-host.app/v1/...`, key) or the domain's own `/v1/` (key or session). Reads stay public. Never returned for a site that has no domain.
          content:
            application/json:
              schema: { type: object, properties: { error: { type: string }, code: { type: string }, sign_in: { type: string }, retry: { type: boolean }, domain: { type: string, description: The site's bound custom domain (with code use_custom_domain) } } }
              examples:
                invalidKey: { value: { error: "invalid API key", code: invalid_api_key } }
                signIn: { value: { error: "sign-in required to write", code: visitor_auth_required, sign_in: /v1/auth/oauth/providers, retry: true } }
                useCustomDomain: { value: { error: "this site saves on its own domain", code: use_custom_domain, domain: recipes.brand.com } }
        '403': { $ref: '#/components/responses/OriginMismatch' }
        '412': { description: ETag did not match (If-Match) }
        '413': { $ref: '#/components/responses/TooLarge' }
    patch:
      operationId: patchSitesBySitenameState
      summary: Atomically update per-site state
      description: >-
        Apply one or more atomic operations so concurrent writers never clobber.
        Origin-gated. Every save from a page needs a signed-in visitor: a visitor session (`X-SH-CSRF: 1`) on the site's own address — its address `https://<site>.<handle>.simple-host.app/` (same-origin `/v1/sites/{sitename}/...`; only that site answers there), or its domain if it has one. Agents write with the site owner's `X-API-Key` (or the connector signed in as the owner; the platform admin's key writes any site) through the apex `https://simple-host.app/v1/...`; another account's key gets 404 `{"error":"site not found"}` and writes nothing. A site with a connected domain takes page writes only there; writes through its other addresses answer 401 use_custom_domain. WRITE_AUTH_MODE=log/off and allow_anonymous_writes retain their compatibility exceptions. Invalid keys return 401 with {error: "invalid API key", code: "invalid_api_key"}. Ops — `set` (path,value), `inc` (path,by),
        `append` (path,value), `remove` (path), `removeWhere` (path,match).
      tags: [State]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - { $ref: '#/components/parameters/csrf' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ops]
              properties:
                ops:
                  type: array
                  items:
                    type: object
                    properties:
                      op: { type: string, enum: [set, inc, append, remove, removeWhere] }
                      path: { type: string, example: 'counters.visits' }
                      value: {}
                      by: { type: number }
                      match: { type: object }
              example: { ops: [ { op: inc, path: count, by: 1 }, { op: append, path: items, value: { id: 'x' } } ] }
      responses:
        '200': { description: New state, headers: { ETag: { schema: { type: string } } }, content: { application/json: { schema: {} } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: No visitor signed in (visitor_auth_required), invalid account API key (invalid_api_key), or a write through another address to a site that has a connected domain (use_custom_domain, with the domain in `domain`) — such a site saves only on its domain; use the apex (`https://simple-host.app/v1/...`, key) or the domain's own `/v1/` (key or session). Reads stay public. Never returned for a site that has no domain.
          content:
            application/json:
              schema: { type: object, properties: { error: { type: string }, code: { type: string }, sign_in: { type: string }, retry: { type: boolean }, domain: { type: string, description: The site's bound custom domain (with code use_custom_domain) } } }
              examples:
                invalidKey: { value: { error: "invalid API key", code: invalid_api_key } }
                signIn: { value: { error: "sign-in required to write", code: visitor_auth_required, sign_in: /v1/auth/oauth/providers, retry: true } }
                useCustomDomain: { value: { error: "this site saves on its own domain", code: use_custom_domain, domain: recipes.brand.com } }
        '403': { $ref: '#/components/responses/OriginMismatch' }

  /v1/sites/{sitename}/collections:
    get:
      operationId: getSitesBySitenameCollections
      summary: List collections a site has saved
      description: >-
        Owner-only inventory of named collections on this site, with row count,
        most-recent write and whether the list is private. A private list is
        listed even while empty (then `count` is 0 and `last_at` is null).
        Empty site returns `{collections:[]}`.
      tags: [Collections]
      security: [{ apiKey: [] }]
      parameters: [ { $ref: '#/components/parameters/sitename' } ]
      responses:
        '200':
          description: Collections
          content:
            application/json:
              schema:
                type: object
                properties:
                  collections:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string, example: rsvps }
                        count: { type: integer, example: 7 }
                        last_at: { type: string, format: date-time, nullable: true, description: Time of the newest item; null for a private list with no items yet }
                        private: { type: boolean, example: false, description: "true when only the owner can read it (see PUT .../collections/{coll}/privacy)" }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/sites/{sitename}/collections/{coll}:
    delete:
      operationId: clearCollection
      summary: Empty a list (owner only)
      description: >-
        Deletes every item in one list, public or private, for good; the list
        keeps its private/public setting. The body must repeat the list's name,
        `{"confirm": "<coll>"}`, or nothing is deleted (400 confirm_required).
        Allowed for the site owner (X-API-Key, connector token, or the owner's own
        visitor session on the site's own address with `X-SH-CSRF: 1`) and the
        Simple Host operator, for moderation. Everyone else gets 404 not_found.
        Visitors only ever append.
      tags: [Collections]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - { $ref: '#/components/parameters/coll' }
        - { $ref: '#/components/parameters/csrf' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [confirm], properties: { confirm: { type: string, description: "the list's name again" } }, example: { confirm: guestbook } }
      responses:
        '200':
          description: The list is empty
          content:
            application/json:
              schema: { type: object, properties: { site: { type: string }, collection: { type: string }, deleted: { type: integer, description: how many items were deleted } } }
        '400':
          description: The body does not repeat the list's name (confirm_required)
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' }, example: { error: "to empty this list, send {\"confirm\": \"guestbook\"}", code: confirm_required } } }
        '403':
          description: A visitor session without `X-SH-CSRF` (csrf_required)
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '404':
          description: The caller is not the owner or operator (not_found)
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' }, example: { error: not found, code: not_found } } }
    post:
      operationId: postSitesBySitenameCollectionsByColl
      summary: Append an item to a collection
      description: >-
        Append-only list (O(1) insert). For signups, RSVPs, submissions.
        Origin-gated. Every save from a page needs a signed-in visitor: a visitor session (`X-SH-CSRF: 1`) on the site's own address — its address `https://<site>.<handle>.simple-host.app/` (same-origin `/v1/sites/{sitename}/...`; only that site answers there), or its domain if it has one. Agents write with the site owner's `X-API-Key` (or the connector signed in as the owner; the platform admin's key writes any site) through the apex `https://simple-host.app/v1/...`; another account's key gets 404 `{"error":"site not found"}` and writes nothing. A site with a connected domain takes page writes only there; writes through its other addresses answer 401 use_custom_domain. WRITE_AUTH_MODE=log/off and allow_anonymous_writes retain their compatibility exceptions. Invalid keys return 401 with {error: "invalid API key", code: "invalid_api_key"}. Each item ≤ 64 KB.
        PRIVATE LISTS (see PUT .../collections/{coll}/privacy) have their own rule: an item is accepted only on the site's own address (its address `https://<site>.<handle>.simple-host.app/`, or its domain if it has one), from a page there, from a visitor signed in there (session cookie + `X-SH-CSRF: 1`); API keys, agents and the connector cannot add to a private list (403 private_visitor_only), and any other address answers 403 private_needs_own_domain (401 use_custom_domain for a site with a connected domain). The item must be ONE JSON object. The server stamps `_submitted_by` (the visitor's verified email) and `_submitted_at` (server time, RFC 3339), overwriting any value the page sent under those keys; the 201 answer is the stored item with the stamps, which is how a page shows the visitor what they sent.
      tags: [Collections]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - { $ref: '#/components/parameters/coll' }
        - { $ref: '#/components/parameters/csrf' }
      requestBody: { required: true, content: { application/json: { schema: { type: object } } } }
      responses:
        '201':
          description: Item appended. The stored item; on a private list `data` carries the server stamps `_submitted_by` and `_submitted_at`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer, example: 42 }
                  data: { type: object, example: { item: "2 jars", _submitted_by: ana@example.com, _submitted_at: "2026-09-24T18:02:11Z" } }
                  created_at: { type: string, format: date-time }
        '400':
          description: Invalid body (not JSON; on a private list, not one JSON object)
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '413': { $ref: '#/components/responses/TooLarge' }
        '401':
          description: No visitor signed in (visitor_auth_required), invalid account API key (invalid_api_key), or a write through another address to a site that has a connected domain (use_custom_domain, with the domain in `domain`) — such a site saves only on its domain; use the apex (`https://simple-host.app/v1/...`, key) or the domain's own `/v1/` (key or session). Reads stay public. use_custom_domain is never returned for a site that has no domain. A private list answers visitor_auth_required whenever no visitor is signed in on the site's own address.
          content:
            application/json:
              schema: { type: object, properties: { error: { type: string }, code: { type: string }, sign_in: { type: string }, retry: { type: boolean }, domain: { type: string, description: The site's bound custom domain (with code use_custom_domain) } } }
              examples:
                invalidKey: { value: { error: "invalid API key", code: invalid_api_key } }
                signIn: { value: { error: "sign-in required to write", code: visitor_auth_required, sign_in: /v1/auth/oauth/providers, retry: true } }
                useCustomDomain: { value: { error: "this site saves on its own domain", code: use_custom_domain, domain: recipes.brand.com } }
        '403':
          description: Origin/Referer does not match the site; missing `X-SH-CSRF` with a visitor session (csrf_required); or, on a private list, an API key was sent (private_visitor_only) or the request did not come through the site's own address (private_needs_own_domain — private lists accept submissions only on the site's own address).
          content:
            application/json:
              schema: { type: object, properties: { error: { type: string }, code: { type: string, enum: [csrf_required, private_visitor_only, private_needs_own_domain] } } }
              examples:
                csrf: { value: { error: "missing CSRF header", code: csrf_required } }
                privateVisitorOnly: { value: { error: "this list is private: only visitors signed in on the site's own address can add to it; API keys cannot", code: private_visitor_only } }
                privateNeedsOwnDomain: { value: { error: "this list is private: it takes submissions only on the site's own address, from a signed-in visitor", code: private_needs_own_domain } }
        '404':
          description: Site not found
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    get:
      operationId: getSitesBySitenameCollectionsByColl
      summary: List items in a collection
      description: >-
        Newest-first, paginated. A public list is readable by anyone: with no
        `Origin` and no `Referer` (curl, an agent) it is served as is; from a page it
        is Origin-gated to the site's own page; the owner/admin API key also reads it. Writes (POST) from a page need a signed-in visitor (session with X-SH-CSRF) on the site's own address; agents write with any valid account X-API-Key through the apex (a site with a connected domain takes page writes only there — 401 use_custom_domain elsewhere). Origin gating still applies.
        A PRIVATE list is readable only by its owner — and by the Simple Host operator (platform admin key), for moderation: with the owner's `X-API-Key` or connector token (through the apex), or by the owner's own account signed in as a visitor on the site's own address (so an admin page on the site can list it). Each item carries its `id`, which the owner uses to edit or delete it (PATCH/DELETE .../items/{id}). Everyone else — anonymous, other signed-in visitors, other sites, anything through another address — gets 404 `{"error":"not found","code":"not_found"}`. Visitors cannot read back their own submissions. The answer for a private list adds `"private": true`.
      tags: [Collections]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - { $ref: '#/components/parameters/coll' }
        - { name: limit, in: query, required: false, schema: { type: integer, default: 50, maximum: 200 } }
        - { name: before, in: query, required: false, schema: { type: string }, description: cursor for the next page }
      responses:
        '200':
          description: Items
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { type: object, properties: { id: { type: integer }, data: { description: the item as saved }, created_at: { type: string, format: date-time } } } }
                  next: { type: integer, nullable: true, description: cursor for the next page (pass as `before`) }
                  private: { type: boolean, description: present and true only for a private list }
        '403': { $ref: '#/components/responses/OriginMismatch' }
        '404':
          description: Site not found, or a private list and the caller is not its owner (code not_found)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { error: not found, code: not_found }

  /v1/sites/{sitename}/collections/{coll}/export.csv:
    get:
      operationId: exportSitesBySitenameCollectionsByColl
      summary: Download a collection as CSV
      description: >-
        Owner-only. Streams the whole collection (not capped at the public
        200-row read limit). Columns are `id`, `created_at`, then the sorted
        union of JSON keys across all rows (on a private list that includes
        `_submitted_by` and `_submitted_at`).
      tags: [Collections]
      security: [{ apiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - { $ref: '#/components/parameters/coll' }
      responses:
        '200':
          description: CSV attachment
          content:
            text/csv:
              schema: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/sites/{sitename}/collections/{coll}/privacy:
    put:
      operationId: putSitesBySitenameCollectionsByCollPrivacy
      summary: Make a collection private or public
      description: >-
        Owner only (X-API-Key, or a connector token as `Authorization: Bearer`).
        `{"private": true}` makes the list private: only visitors signed in on the
        site's own address can add to it (each item stamped with their verified email),
        and only the owner can read it (key, connector, CSV export, dashboard, or the
        owner signed in on the site) — plus the Simple Host operator, for
        moderation. Everyone else gets 404. The owner can edit or delete its items
        (PATCH/DELETE .../items/{id}); public lists stay append-only. Any site can
        make a list private. Submissions come from signed-in visitors on the site's
        own address: its address `https://<site>.<handle>.simple-host.app/`,
        or its domain if it has one. Can be set before any item exists.
        `{"private": false}` makes it public again, and everything already in it
        becomes readable by anyone, except who sent it: `_submitted_by` is left
        out of every read but the owner's (key, or signed in on the site's own
        address) and the admin's. Idempotent; deletes nothing.
      tags: [Collections]
      security: [{ apiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - { $ref: '#/components/parameters/coll' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [private]
              properties:
                private: { type: boolean, example: true }
      responses:
        '200':
          description: Privacy set
          content:
            application/json:
              schema:
                type: object
                properties:
                  site: { type: string, example: pickle-shop }
                  collection: { type: string, example: orders }
                  private: { type: boolean, example: true }
                  domain: { type: string, description: "The host of the site's own address (<site>.<handle>.simple-host.app, or its domain if it has one); present when private is true", example: my-cool-site.jane.simple-host.app }
                  message: { type: string, example: "Private: visitors signed in on https://pickle-shop.jane.simple-host.app/ can add to it; only you can read it." }
        '400':
          description: 'Invalid collection name, or the body is not {"private": true} or {"private": false}'
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/sites/{sitename}/collections/{coll}/items/{id}:
    patch:
      operationId: patchCollectionItem
      summary: Change fields of an item in a private list
      description: >-
        Merges the JSON object sent into the item. A field sent as null is
        removed. `_submitted_by` and `_submitted_at` can never be set, changed or
        removed (ignored if sent), and the item's `created_at` never changes.
        Only for items in a PRIVATE list. Allowed for the site owner (X-API-Key,
        connector token as `Authorization: Bearer`, or the owner's own visitor
        session on the site's own address from a same-origin page with
        `X-SH-CSRF: 1`) and for the Simple Host operator (platform admin key),
        for moderation. Everyone else — visitors including the one who submitted
        the item, other accounts, anything through another address — gets 404
        not_found. Items in a public list cannot be edited (the owner can delete
        them): 409 append_only.
      tags: [Collections]
      parameters:
        - { $ref: '#/components/parameters/sitename' }
        - { $ref: '#/components/parameters/coll' }
        - { name: id, in: path, required: true, schema: { type: integer }, description: "the item's id (items[].id in the list answer)" }
        - { $ref: '#/components/parameters/csrf' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, example: { status: done } }
      responses:
        '200':
          description: The updated item
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer, example: 42 }
                  data: { type: object, example: { item: "2 jars", status: done, _submitted_by: ana@example.com, _submitted_at: "2026-09-24T18:02:11Z" } }
                  created_at: { type: string, format: date-time }
        '400':
          description: The body is not one JSON object
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '403':
          description: A visitor session without `X-SH-CSRF` (csrf_required)
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '404':
          description: No such item, or the caller is not the owner or operator (not_found)
[...]
